<h1>Buttons</h1>
<p-button label="openDialogue" (click)="openDialog()" pTooltip="Enter your username"></p-button>
<p-button label="Disabled" disabled="true"></p-button>
<p-button label="Link" styleClass="p-button-link"></p-button>

<h5>Icons</h5>
<p-button icon="pi pi-check" (click)="showNotification()"></p-button>
<p-button label="Submit" icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>

<h5>Severities</h5>
<button pButton pRipple type="button" label="Primary"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>

<h5>Raised Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-raised"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-raised p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-raised p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-raised p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-raised p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="p-button-raised p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-raised p-button-danger"></button>

<h5>Text Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-text"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" label="Success" class="p-button-success p-button-text"></button>
<button pButton pRipple type="button" label="Info" class="p-button-info p-button-text"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning p-button-text"></button>
<button pButton pRipple type="button" label="Help" class="p-button-help p-button-text"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-danger p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="p-button-text p-button-plain"></button>

<h5>Raised Text Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-raised p-button-text"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-raised p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" label="Success" class="p-button-raised p-button-success p-button-text"></button>
<button pButton pRipple type="button" label="Info" class="p-button-raised p-button-info p-button-text"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-raised p-button-warning p-button-text"></button>
<button pButton pRipple type="button" label="Help" class="p-button-raised p-button-help p-button-text"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-raised p-button-danger p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="p-button-raised p-button-text p-button-plain"></button>

<h5>Outlined Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-outlined p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-outlined p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-outlined p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-outlined p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="p-button-outlined p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-outlined p-button-danger"></button>

<h5>Rounded Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
<button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
<button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
<button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning"></button>
<button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-help"></button>
<button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>

<h5>Rounded Text Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-help p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
<button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-text p-button-plain"></button>



<h5>Rounded and Outlined Icon Buttons</h5>
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-help p-button-outlined"></button>
<button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>


<h5>Badges</h5>
<p-button label="Emails" badge="8"></p-button>
<p-button label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="8" badgeClass="p-badge-danger">
</p-button>

<h5>Button Set</h5>
<span class="p-buttonset">
    <button pButton pRipple label="Save" icon="pi pi-check"></button>
    <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
    <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
</span>

<h5>Sizes</h5>
<div class="sizes">
    <p-button label="Small" icon="pi pi-check" styleClass="p-button-sm"></p-button>
    <p-button label="Normal" icon="pi pi-check" styleClass="p-button"></p-button>
    <p-button label="Large" icon="pi pi-check" styleClass="p-button-lg"></p-button>
</div>



<h5>Basic</h5>
<p-autoComplete [(ngModel)]="selectedCountry" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"></p-autoComplete>

<h5>Dropdown and Templating</h5>
<p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <div>{{country.name}}</div>
        </div>
    </ng-template>
</p-autoComplete>

<h5>Multiple</h5>
<span class="p-fluid">
    <p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filteredCountries"
        (completeMethod)="filterCountry($event)" field="name" [multiple]="true" [dropdown]="true">
    </p-autoComplete>
</span>


<h5>Filtering Inputs</h5>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText pKeyFilter="int" placeholder="Integers">
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText pKeyFilter="num" placeholder="Numbers">
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText pKeyFilter="money" placeholder="Money">
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText pKeyFilter="hex" placeholder="Hex">
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText pKeyFilter="alpha" placeholder="Alphabetic">
        <small id="username-help" class="p-invalid">Add only alphanum</small>
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText pKeyFilter="alphanum" placeholder="Alphanumberic">
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText [pKeyFilter]="blockSpecial" placeholder="Block # < > * !">
    </div>
    <div class="p-col-12 p-md-4">
        <input type="text" pInputText [pKeyFilter]="blockSpace" placeholder="Block space key">
    </div>
</div>

<h5>Validation Mode</h5>
<form #form="ngForm">
    <label for="cc" style="display:block;margin-bottom:4px">Credit Card</label>
    <input id="cc" type="text" name="cc" [(ngModel)]="cc" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="1234-1234-1234-1234" style="margin-right: .5em">
    <p-message severity="error" text="Not a valid number" [@errorState]="form.dirty && !form.valid ? 'visible' : 'hidden'"></p-message>
</form>

<h5>Comma Separator</h5>
<p-chips [(ngModel)]="values2" separator=","></p-chips>
<button pButton pRipple type="button" label="SendInvitee" (click)="sendInvitee()"></button>

<app-auto-complete-map-places (pickAddress)="getAddressFromAutocompleteMapsApi($event)"></app-auto-complete-map-places>


<p-autoComplete [(ngModel)]="selectedCountry" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="3" delay="1000"></p-autoComplete>


<p-calendar utc="true" [(ngModel)]="dateData" [readonlyInput]="true" [showIcon]="true" inputId="icon" hourFormat="12"></p-calendar>
<p-button (click)="OnClickDate()">Show date</p-button>


<h5>Virtual Scroll (10000 Items)</h5>
<p-multiSelect [options]="cities" [showToggleAll]="false" [(ngModel)]="selectedCountries2" optionLabel="name" [virtualScroll]="true" [filter]="true" [itemSize]="34" class="multiselect-custom-virtual-scroll" optionLabel="name" display="chip">
</p-multiSelect>

<ng-template #MsgRef>
    <span class="ql-formats">
        <select class="ql-header" tabindex="-1">
          <option value="1" >hxbchxb</option>
          <option value="2" >Subheading</option>
          <option selected >Normal</option>
        </select>
        <select class="ql-font" tabindex="-1">
          <option selected>Sans Serif</option>
          <option value="serif">Serif</option>
          <option value="monospace">Monospace</option>
        </select>
      </span>
    <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
        <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
        <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
      </span>
    <span class="ql-formats">
        <select class="ql-color" tabindex="-1"></select>
        <select class="ql-background" tabindex="-1"></select>
      </span>
    <span class="ql-formats">
        <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
        <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
        <select class="ql-align" tabindex="-1">
          <option selected tabindex="-1"></option>
          <option value="center" tabindex="-1"></option>
          <option value="right" tabindex="-1"></option>
          <option value="justify" tabindex="-1"></option>
        </select>
      </span>
    <span class="ql-formats">
        <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
        <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
      </span>
    <span class="ql-formats">
        <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
      </span>
</ng-template>

<p-editor [style]="{'height':'350px'}">
    <p-header>
        <ng-template [ngTemplateOutlet]="MsgRef">
        </ng-template>
    </p-header>
</p-editor>

<!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCountries2" [filter]="true" [filterBy]="'label'" optionLabel="name" optionDisabled="inactive" [virtualScroll]="true" [itemSize]="34"></p-dropdown> -->




<!-- 
<p-multiSelect [options]="cities" [(ngModel)]="selectedCountries2" defaultLabel="Select a Country" optionLabel="name" class="multiselect-custom">
    <ng-template let-value pTemplate="selectedItems">
        <div class="country-item country-item-value" *ngFor="let option of selectedCountries2">
            <div>{{option.name}}</div>
        </div>
        <div *ngIf="!selectedCountries2 || selectedCountries2.length === 0" class="country-placeholder">
            select Countries
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <div>{{country.name}}</div>
        </div>
    </ng-template>
</p-multiSelect> -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- 
<input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search pInputText [(ngModel)]="address1" (change)="placesModelChanged($event)">



<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
</agm-map> -->

<div *ngIf="readmoreString.length>10">
    <a class="show_hide" data-content="toggle-text">Read More</a>
    <div id="DIV2" [innerHtml]="readmoreString" class="content"></div>
</div>

<div *ngIf="readmoreString.length<10">
    <div [innerHtml]="readmoreString" class="content"></div>
</div>
<!-- <div [ngClass]="isCopied ? 'lucky-coupon coupon-applied' : 'lucky-coupon'">
    <ng-container *ngIf="isCopied; else elseTemplateCopied">

        <div class="coupon-copied">Copied!</div>

    </ng-container>
    <ng-template #elseTemplateCopied>
        <div (cbOnSuccess)="copyDynamicText($event)" ngxClipboard [cbContent]="couponText">
            <div class="copy-code"><i class="pi pi-copy"></i></div>
        </div>
    </ng-template>
</div> -->
<ng-container *ngIf="isCopied; else elseTemplateCopied">

    <span>Copied!</span>

</ng-container>
<ng-template #elseTemplateCopied>
    <button pButton pRipple type="button" (click)="copyDynamicText()" icon="pi pi-copy" pTooltip="Copy external link" class="p-button-rounded p-button-text"> </button>
</ng-template>