<div class="container-fluid" *ngIf="JobSiteDetail">
    <div class="row d-flex justify-content-between align-items-center flex-wrap bg-primary text-white">
        <div class="flex-fill p-2">
            <h4 class="font-weight-bold text-capitalize" *ngIf="JobSiteDetail.title ; else none">
                {{projectDetail.title}} // {{JobSiteDetail.title}}
            </h4>
        </div>
        <div class="d-flex">
            <div class="form-group mr-2">
                <label for="status">{{'change.status' |translate}}</label><br>
                <p-autoComplete [minLength]="3" id="status" [suggestions]="filteredStatus" field="label"
                    [dropdown]="true" [disabled]="disableStatusFlag || disableStatusFlag1"
                    (onSelect)="openDialog($event)" [ngModelOptions]="{standalone: true}"
                    (completeMethod)="filterStatus($event)" [(ngModel)]="JobSiteDetail.status" placeholder="{{
                        JobSiteDetail.status ==='IN_PROGRESS' ? 'In Progress' :
                        JobSiteDetail.status ==='DRAFT' ? 'Draft' :
                        JobSiteDetail.status ==='CANCELLED' ? 'Cancelled' :
                        JobSiteDetail.status ==='COMPLETED' ? 'Completed' : 
                        JobSiteDetail.status ==='AWARDED' ? 'Awarded' : 
                        'Posted' }}">
                </p-autoComplete>
            </div>
            <div class="form-group mr-2" *ngIf="roleName === 'CLIENT'">
                <label for="status">{{'assign.supervisor' |translate}}</label><br>
                <p-autoComplete [suggestions]="filteredSupervisor" [(ngModel)]="supervisor" [field]="getFullName"
                    [minLength]="3" [dropdown]="true" (completeMethod)="filterSupervisor($event)"
                    (onSelect)="openSupervisorDialog(JobSiteDetail.id,$event)" [inputStyle]="{'width':'50%'}"
                    placeholder="{{JobSiteDetail.supervisor ? JobSiteDetail.supervisor.firstName : 'Select'}}">
                </p-autoComplete>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <h5 class="font-weight-bold my-3">{{'jobsite.details' | translate}}</h5>
            <div class="card bg-grey2">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2"><img src="assets/images/jobsite_title.svg"></div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'jobsite.title' | translate}} :</p>
                                <p class="text-muted mb-0" *ngIf="JobSiteDetail.title ; else none">
                                    {{JobSiteDetail.title}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2"><img src="assets/images/assign_to.svg"></div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'assigned.to' | translate}} :</p>
                                <p class="text-muted mb-0">{{JobSiteDetail.assignedTo !== null ?
                                    JobSiteDetail.assignedTo.firstName : 'Jobsite Award Pending'}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2"><img src="assets/images/total_cost.svg"></div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'total.cost' | translate}} :</p>
                                <p class="text-muted mb-0" *ngIf="JobSiteDetail.cost ; else none">{{JobSiteDetail.cost |
                                    currency}}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2"><img src="assets/images/line_items.svg"></div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'line.item' | translate}} :</p>
                                <p class="text-muted mb-0" *ngIf="JobSiteDetail.lineItem.length ; else none">
                                    {{JobSiteDetail.lineItem.length}}</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2"><img src="assets/images/location.svg"></div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'location' | translate}} :</p>
                                <p class="text-muted mb-0" *ngIf="JobSiteDetail.state ; else none">
                                    {{JobSiteDetail.city}} , {{JobSiteDetail.state}}</p>
                            </div>
                        </div>

                        <div class="w-100 mt-4">
                            <p class="font-weight-bold mb-1">{{'jobsite.description' |translate}}:</p>
                            <div class="w-100" *ngIf="JobSiteDetail.description ; else none">
                                <span class="col-xl-12" *ngIf="JobSiteDetail.description.length <= truncateLength ">
                                    {{JobSiteDetail.description}}
                                </span>
                                <span class="col-xl-12" *ngIf="JobSiteDetail.description.length > truncateLength ">

                                    {{(showMore) ? JobSiteDetail.description : JobSiteDetail.description | slice:0:30}}
                                    <span *ngIf="!showMore">...</span>
                                    <a href="javascript:;"
                                        *ngIf="!showMore && JobSiteDetail.description.length > truncateLength"
                                        (click)="showMore=true">Read More</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xl-12">
            <p-accordion>
                <p-accordionTab>
                    <ng-template pTemplate="header">{{'work.type.details' | translate}}
                    </ng-template>
                    <ng-template pTemplate="content">

                        <p-table [columns]="selectedColumns" styleClass="p-datatable-gridlines" [scrollable]="true"
                            scrollHeight="400px" [resizableColumns]="true" #dt [value]="JobSiteDetail.lineItem"
                            [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} work types"
                            [rowsPerPageOptions]="rowsPerPageOptions">

                            <ng-template pTemplate="caption">
                                <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="label"
                                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                                    placeholder="Choose Columns"></p-multiSelect>
                            </ng-template>
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:200px" *ngFor="let col of columns">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pResizableColumn id="column_{{col.value}}" *ngFor="let col of columns"
                                        pSortableColumn="{{col.value}}">
                                        {{col.label}}
                                        <p-sortIcon field="{{col.value}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-i="rowIndex" let-lineItem let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns" [ngSwitch]="col.value">

                                        <div *ngSwitchCase="'workType'">
                                            {{lineItem.workType}}
                                        </div>
                                        <div *ngSwitchCase="'lineItemId'">
                                            {{lineItem.lineItemId}}
                                        </div>
                                        <div *ngSwitchCase="'lineItemName'">
                                            <span class="text-wrap">
                                                {{lineItem.lineItemName}}
                                            </span>
                                        </div>
                                        <div *ngSwitchCase="'cost'">
                                            {{lineItem.cost | currency}}
                                        </div>
                                        <div *ngSwitchCase="'description'">
                                            <div class="text-wrap text-break" *ngIf="lineItem.description ; else noneTd"
                                                [innerHtml]="lineItem.description"></div>
                                        </div>
                                        <div *ngSwitchCase="'inclusions'">
                                            <div class="text-wrap text-break" *ngIf="lineItem.inclusions ; else noneTd"
                                                [innerHtml]="lineItem.inclusions"></div>
                                        </div>
                                        <div *ngSwitchCase="'exclusions'">
                                            <div class="text-wrap text-break" *ngIf="lineItem.exclusions ; else noneTd"
                                                [innerHtml]="lineItem.exclusions"></div>
                                        </div>
                                        <div *ngSwitchCase="'unit.name'">
                                            {{lineItem.unit.name}}
                                        </div>
                                        <div *ngSwitchCase="'quantity'">
                                            {{lineItem.quantity}}
                                        </div>
                                        <div *ngSwitchCase="'dynamicLabel1'">
                                            <div class="text-wrap" *ngIf="lineItem.dynamicLabel1 ; else noneTd">
                                                {{lineItem.dynamicLabel1}}
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'dynamicLabel2'">
                                            <div class="text-wrap" *ngIf="lineItem.dynamicLabel2 ; else noneTd">
                                                {{lineItem.dynamicLabel2}}
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'dynamicLabel3'">
                                            <div class="text-wrap" *ngIf="lineItem.dynamicLabel3 ; else noneTd">
                                                {{lineItem.dynamicLabel3}}
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="text-center" [attr.colspan]="12">
                                        No records found
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>

                    </ng-template>
                </p-accordionTab>

            </p-accordion>

            <p-accordion>
                <p-accordionTab>
                    <ng-template pTemplate="header">{{'payment.milestone' | translate}}
                    </ng-template>
                    <ng-template pTemplate="content">

                        <p-table styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="400px"
                            [resizableColumns]="true" #dt [value]="JobSiteDetail.paymentMileStone" [paginator]="true"
                            [rows]="size" [totalRecords]="totalRecords" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} milestones"
                            [rowsPerPageOptions]="rowsPerPageOptions">


                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:130px">
                                    <col style="width:250px">
                                    <col style="width:400px">
                                    <col style="width:250px">
                                    <col style="width:130px">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{'milestone.no' | translate}}</th>
                                    <th pResizableColumn id="column_{{col.value}}" *ngFor="let col of paymentColumns"
                                        pSortableColumn="{{col.value}}">
                                        {{col.label}}
                                        <p-sortIcon field="{{col.value}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-i="rowIndex" let-payment>
                                <tr>
                                    <td>{{i+1}} </td>
                                    <td class="text-wrap">{{payment.name}} </td>
                                    <td>
                                        <span *ngIf="payment.lineItem?.length ; else noLineItem">
                                            <p-button (click)="openLineItemDialog(payment)" styleClass="p-button-link">
                                                {{payment.lineItem.length}}</p-button>
                                        </span>
                                        <ng-template #noLineItem>
                                            {{payment.lineItem.length}}
                                        </ng-template>
                                    </td>
                                    <td class="text-wrap">{{payment.amount | currency}} </td>
                                    <td class="text-wrap">{{payment.percentage}}% </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="text-center" [attr.colspan]="5">
                                        No records found
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>

                    </ng-template>
                </p-accordionTab>

            </p-accordion>
        </div>
    </div>





    <div class="Dialog_Sub_Bid">

        <p-dialog [(visible)]="isOpenLineItemdialog" (onHide)="onHideLineItem($event)" header="Line Item List"
            [contentStyle]="{'overflow-y': 'true', 'overflow-x': 'true', 
        'max-height': '300px','min-height':'300px','width':'700px'}" [modal]="true" styleClass="p-fluid">

            <ng-template pTemplate="content">

                <p-table [columns]="selectedColumnsForDialog" styleClass="p-datatable-gridlines" [scrollable]="true"
                    scrollHeight="400px" [resizableColumns]="true" #dt [value]="lineItem" [paginator]="true"
                    [rows]="size" [totalRecords]="totalRecords" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} work types"
                    [rowsPerPageOptions]="rowsPerPageOptions">

                    <ng-template pTemplate="caption">
                        <p-multiSelect [options]="columns" [(ngModel)]="selectedColumnsForDialog" optionLabel="label"
                            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '250px'}"
                            placeholder="Choose Columns"></p-multiSelect>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:250px" *ngFor="let col of columns">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn id="column_{{col.value}}" *ngFor="let col of columns"
                                pSortableColumn="{{col.value}}">
                                {{col.label}}
                                <p-sortIcon field="{{col.value}}"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-lineItem let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.value">

                                <div *ngSwitchCase="'workType'">
                                    {{lineItem.workType}}
                                </div>
                                <div *ngSwitchCase="'lineItemId'">
                                    {{lineItem.lineItemId}}
                                </div>
                                <div *ngSwitchCase="'lineItemName'">
                                    {{lineItem.lineItemName}}
                                </div>
                                <div *ngSwitchCase="'cost'">
                                    {{lineItem.cost | currency}}
                                </div>
                                <div *ngSwitchCase="'description'">
                                    <div *ngIf="lineItem.description ; else noneTd" [innerHtml]="lineItem.description"
                                        class="text-wrap text-break"></div>
                                </div>
                                <div *ngSwitchCase="'inclusions'">
                                    <div *ngIf="lineItem.inclusions ; else noneTd" [innerHtml]="lineItem.inclusions"
                                        class="text-wrap text-break"></div>
                                </div>
                                <div *ngSwitchCase="'exclusions'">
                                    <div *ngIf="lineItem.exclusions ; else noneTd" [innerHtml]="lineItem.exclusions"
                                        class="text-wrap text-break"></div>
                                </div>
                                <div *ngSwitchCase="'unit.name'">
                                    {{lineItem.unit.name}}
                                </div>
                                <div *ngSwitchCase="'quantity'">
                                    {{lineItem.quantity}}
                                </div>
                                <div *ngSwitchCase="'dynamicLabel1'">
                                    <div *ngIf="lineItem.dynamicLabel1 ; else noneTd" class="text-wrap">
                                        {{lineItem.dynamicLabel1}}
                                    </div>
                                </div>
                                <div *ngSwitchCase="'dynamicLabel2'">
                                    <div *ngIf="lineItem.dynamicLabel2 ; else noneTd" class="text-wrap">
                                        {{lineItem.dynamicLabel2}}
                                    </div>
                                </div>
                                <div *ngSwitchCase="'dynamicLabel3'">
                                    <div *ngIf="lineItem.dynamicLabel3 ; else noneTd" class="text-wrap">
                                        {{lineItem.dynamicLabel3}}
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="text-center" [attr.colspan]="12">
                                No records found
                            </td>
                        </tr>
                    </ng-template>

                </p-table>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" (click)="onHideLineItem($event)" icon="pi pi-times-circle"
                    label="{{'cancel' | translate}}" class="p-button-outlined p-button-danger"
                    style="margin-left: 16px;"></button>
            </ng-template>
        </p-dialog>
    </div>

</div>

<div *ngIf="!JobSiteDetail">
    <h5 class="text-muted text-center mt-3">{{'no.record.found' | translate}}</h5>
</div>

<ng-template #noneTd> {{'n.a' | translate }} </ng-template>
<ng-template #none>
    <p class="text-muted mb-0"> {{'n.a' | translate }} </p>
</ng-template>