<!-- <app-header-navigation></app-header-navigation> -->
<!-- <app-navigation-user></app-navigation-user>
<app-navigation></app-navigation>
<aside class="left-sidebar">
  
<div class="scroll-sidebar" [perfectScrollbar]="config">
    <app-sidebar></app-sidebar>
</div>

</aside>
<router-outlet></router-outlet> -->

<!-- <app-top-bar></app-top-bar>
<div class="wrapper">
    <app-side-bar></app-side-bar>
    <router-outlet></router-outlet>
</div> -->
<!-- <p>Home wor</p> -->


<app-sidebar></app-sidebar>

<!-- <app-navigation></app-navigation> -->
<!-- <router-outlet></router-outlet> -->