<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 bg-admin p-2 text-white">
            <h4 class="font-weight-bold">
                Worker Comparison
                <span *ngIf="selectedJob">/{{selectedJob.title}}</span>
            </h4>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-12">
            <div class="float-right">
                <button pButton pRipple type="button" (click)="onFilterOpen()" label="{{'filter' | translate}}" class="bg-admin" icon="fa fa-filter"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card bg-grey2" *ngIf="isFilterOpened">
                <div class="card-body">
                    <form [formGroup]="myForm">
                        <div class="row">
                            <div class="p-field p-fluid col-lg-6">
                                <label>{{'worker.name' |translate}}</label>
                                <p-autoComplete forceSelection="true" formControlName="workerName" minLength="3" [field]="getFullName" [multiple]="true" delay="2000" (completeMethod)="getWorkerByName($event)" [suggestions]="filterWorkers" placeholder="{{'select.worker.name' |translate}}"
                                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                                </p-autoComplete>
                            </div>
                            <div class="p-field p-fluid col-lg-6">
                                <label>{{'job.title' |translate}}</label>
                                <p-autoComplete forceSelection="true" formControlName="jobTitle" minLength="2" [multiple]="true" (completeMethod)="getJobTitleOfWorker($event)" delay="2000" [suggestions]="titles" placeholder="{{ 'select.job.title' |translate}}" [style]="{'width': '100%'}"
                                    [inputStyle]="{'width': '100%'}">
                                </p-autoComplete>
                            </div>
                        </div>
                        <div class="row" style="position: relative;">
                            <div class="p-field col-xl-3" *ngIf="employementType === 'WORKER_1099' || employementType === 'WORKER_W2'">
                                <label>{{"hourly.rate" | translate }} : </label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-right-0 bg-white">$</span>
                                    </div>

                                    <input type="text" class="form-control text-right border-left-0" (change)="onChangeHourlyFromValue($event)" formControlName="minHourlyRate" placeholder="{{ 'min.0' | translate}}" pKeyFilter="pint" />
                                </div>
                                <!-- <div class="p-field col-xl-1 mb-0 mt-3 d-flex align-items-center justify-content-center">
                                    <label>{{'to' | translate}}</label>
                                </div> -->
                            </div>
                            <span style="position: absolute;left: 24.5%;top: 34px;" class="ttt"> 
                                {{'to' | translate}} </span>
                            <div class="p-field col-xl-3" *ngIf="employementType === 'WORKER_1099' || employementType === 'WORKER_W2'">
                                <label style="visibility: hidden;">{{"hourly.rate" | translate }} : </label>

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-right-0 bg-white">$</span>
                                    </div>
                                    <input type="text" class="form-control text-right border-left-0" (change)="onChangeHourlyToValue($event)" formControlName="maxHourlyRate" placeholder="{{ 'max.0' | translate}}" pKeyFilter="pint" />
                                </div>
                                <div class="p-invalid" *ngIf="errorFlagHour; else none">
                                    {{feedback}}
                                </div>
                                <ng-template #none> </ng-template>
                            </div>
                            <div class="p-field col-xl-3" *ngIf="employementType === 'FULL_TIME'">
                                <label>{{"yearly.salary" | translate }} : </label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-right-0 bg-white">$</span>
                                    </div>
                                    <input type="text" class="form-control text-right border-left-0" (change)="onChangeAnnualFrom($event)" formControlName="minAnnualSalary" placeholder="{{ 'min.0' | translate}}" pKeyFilter="pint" />
                                </div>
                            </div>

                            <div class="p-field col-xl-3" *ngIf="employementType === 'FULL_TIME'">
                                <label style="visibility: hidden;">{{"yearly.salary" | translate }} : </label>

                                <div class="input-group">
                                    <!-- {{'to' | translate}} -->
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-right-0 bg-white">$</span>
                                    </div>
                                    <input type="text" class="form-control text-right border-left-0" (change)="onChangeAnnualTo($event)" formControlName="maxAnnualSalary" placeholder="{{ 'max.0' | translate}}" pKeyFilter="pint" />
                                </div>
                                <div class="p-invalid" *ngIf="errorFlag; else none">
                                    {{feedback}}
                                </div>
                                <ng-template #none> </ng-template>
                            </div>
                            <div class="p-field col-lg-3">
                                <label>{{"bid.submitted.from.date" | translate }} : </label>
                                <p-calendar [readonlyInput]="true" [showIcon]="true" inputId="icon" appendTo="body" [maxDate]="bidSubmittedToDate" [(ngModel)]="bidSubmittedFromDate" formControlName="bidSubmittedFromDate" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange="1975:2050"></p-calendar>
                            </div>
                            <div class="p-field col-lg-3">
                                <label>{{"bid.submitted.to.date" | translate }} : </label>
                                <p-calendar [readonlyInput]="true" [(ngModel)]="bidSubmittedToDate" [showIcon]="true" inputId="icon" appendTo="body" [minDate]="bidSubmittedFromDate" formControlName="bidSubmittedToDate" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange="1975:2050"></p-calendar>
                            </div>
                        </div>
                        <div class="row">
                            <div class="p-field col-lg-6">
                                <label>{{'average.ratings' |translate}}</label>
                                <p-autoComplete forceSelection="true" [dropdown]="true" [style]="{'width':'100%'}" formControlName="avgRating" [inputStyle]="{'width':'100%'}" placeholder="{{'all' | translate}}" [suggestions]="filteredAverageRating" field="label" (completeMethod)="filterAverageRating($event)">
                                </p-autoComplete>
                            </div>
                            <div class="p-field col-lg-6">
                                <label>{{'total.experience' |translate}}</label>
                                <p-autoComplete [dropdown]="true" forceSelection="true" [style]="{ 'width': '100%'}" formControlName="totalExperience" (completeMethod)="filterExperience($event)" field="level" [suggestions]="filteredExpirience" [inputStyle]="{ 'width': '100%'}" placeholder="{{'all' | translate}}">
                                </p-autoComplete>
                            </div>
                        </div>
                        <div class="d-inline">
                            <button pButton type="button" class="p-button-outlined mr-3" label="{{ 'apply' | translate}}" (click)="filterJobBidDetail()"></button>
                            <button pButton type="button" class="p-button-danger" label="{{ 'clear' | translate}}" (click)="clear()"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-8">
            <div class="datatable-card">
                <p-table #dt [columns]="selectedColumns" [value]="workers" [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [resizableColumns]="true" [loading]="loading" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" styleClass="p-datatable-gridlines"
                    scrollHeight="400px" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="caption">
                        <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="label" selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width: 200px;">
                            <col style="width: 200px;" *ngFor="let col of columns">
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pResizableColumn>{{'shortlist' | translate}}</th>
                            <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.sortable?col.value:null">
                                {{col.label}}
                                <p-sortIcon *ngIf="col.sortable" field="{{col.value}}"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            <td *ngIf="!isWorkerSelected(data.jobBidDetail.id)" class="d-flex align-items-center justify-content-center">
                                <!-- <input class="star" type="checkbox" (change)="onSelectWorker(data)" checked> -->

                                <input type="checkbox" (change)="onSelectWorker(data)" id={{data.jobBidDetail.id}} checked>
                                <label class="star" for={{data.jobBidDetail.id}}></label>
                            </td>
                            <td *ngIf="isWorkerSelected(data.jobBidDetail.id)" class="d-flex align-items-center justify-content-center">
                                <!-- <input class="star" type="checkbox" (change)="removeFromSelectedWorker(data)"> -->

                                <input type="checkbox" (change)="removeFromSelectedWorker(data)" id={{data.jobBidDetail.id}}>
                                <label class="star" for={{data.jobBidDetail.id}}></label>

                            </td>
                            <!-- <td *ngFor="let col of columns">{{col.value}}</div>td> -->
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <div *ngSwitchCase="'worker'">
                                    <a href="#" (click)="redirectToWorker(data.jobBidDetail.worker.id)" styleClass="p-button-link">{{data.jobBidDetail.worker.firstName}} {{data.jobBidDetail.worker.lastName}}</a>
                                    <!-- <a href="">  {{data.jobBidDetail.worker.firstName}} {{data.jobBidDetail.worker.lastName}}</a> -->
                                </div>
                                <div *ngSwitchCase="'jobDetail'">
                                    {{data.jobBidDetail.jobDetail.jobTitle.title}}
                                    <!-- {{data.jobBidDetail.workerProfile.jobTitle}} -->
                                </div>
                                <div *ngSwitchCase="'workerAnnualSalary'">
                                    {{data.jobBidDetail.workerAnnualSalary | currency}}
                                </div>
                                <div *ngSwitchCase="'workerHourlyRate'">
                                    {{data.jobBidDetail.workerHourlyRate | currency}}
                                </div>
                                <div *ngSwitchCase="'workerCity'">
                                    {{data.jobBidDetail.workerProfile.city}}
                                </div>
                                <div *ngSwitchCase="'workerState'">
                                    {{data.jobBidDetail.workerProfile.state}}
                                </div>
                                <div *ngSwitchCase="'workerTotalExperience'">
                                    <p *ngIf="data[col.field]!==null ; else none">
                                        {{data[col.field]}}
                                    </p>
                                    <ng-template #none>
                                        <p> New Worker </p>
                                    </ng-template>
                                </div>
                                <div *ngSwitchCase="'workerAvgRating'">
                                    {{data[col.field]}}
                                </div>
                                <div *ngSwitchCase="'workerSuccessRatio'">
                                    {{data[col.field]}}
                                </div>
                                <div *ngSwitchCase="'workerTentativeStartDate'">
                                    {{data.jobBidDetail.workerTentativeStartDate | date:'longDate'}}
                                </div>
                                <div *ngSwitchCase="'certificates'">
                                    <p-button label="View" styleClass="p-button-link" (click)="showCertificateDialog(data.jobBidDetail.id)"></p-button>
                                </div>
                                <div *ngSwitchCase="'screeningQuestions'">
                                    <p-button label="View" styleClass="p-button-link" (click)="showScreeningQuestionsDialog(data.jobBidDetail.id)"></p-button>

                                </div>
                        </tr>
                        <p-dialog header="Certificates" [style]="{width: '450px'}" [(visible)]="displayCertificate" (onHide)="hideCertificateDialog()">
                            <div *ngFor="let certificate of certificates">
                                {{certificate.certificate.name}}
                            </div>
                            <ng-template pTemplate="footer">
                                <button pButton pRipple label="{{'close' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideCertificateDialog()"></button>
                            </ng-template>
                        </p-dialog>
                        <!-- <p-dialog header="Screening Questions" [style]="{width: '450px'}" [(visible)]="displayScreeningQuestions"> -->
                        <p-dialog header="Screening Questions" [style]="{width: '450px'}" [(visible)]="displayScreeningQuestions" (onHide)="hideScreeningDialog()">
                            <div *ngIf="screeningQuestions.length > 0; else zeroScreeningQuestion">
                                <div *ngFor="let screeningQuestion of screeningQuestions">
                                    <div> {{screeningQuestion.question.questionNo}}. {{screeningQuestion.question.question}}</div>
                                    <div>answer: {{screeningQuestion.answer}} </div>
                                </div>

                            </div>
                            <ng-template #zeroScreeningQuestion>
                                {{'no.screening.questions' | translate}}
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <button pButton pRipple label="{{'close' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideScreeningDialog()"></button>
                            </ng-template>
                        </p-dialog>
                        <!-- </p-dialog> -->
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="selectedColumns.length + 1" class="text-center">
                                {{'no.record.found' | translate}}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
        <div class="col-xl-4 mt-5">
            <div class="datatable-card mt-5">
                <p-table #dt [value]="selectedWorkers" [lazy]="true" [rows]="size" [totalRecords]="totalRecords" [resizableColumns]="true" [loading]="loading" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" styleClass="p-datatable-gridlines"
                    [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width: 50px;">
                            <col style="width: 50px;">

                            <!-- <col style="width:450px;"> -->

                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn id="column_{{col.value}}" *ngFor="let col of columns1" [hidden]="col.isHidden" pSortableColumn="{{col.value}}">
                                {{col.label}}
                                <!-- <p-sortIcon field="{{col.value}}"></p-sortIcon> -->
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <ng-container>
                            <tr>
                                <td>{{data.jobBidDetail.worker.firstName}} {{data.jobBidDetail.worker.lastName}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-2">
                                            <a style="color:red;" class="btn" (click)="removeFromSelectedWorker(data)">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn" disabled>
                                    <i class="fa fa-envelope"></i>
                                </button>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="2" class="text-center">
                                {{'no.record.found' | translate}}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
                {{'maximum.10.selection.allowed' | translate}}
            </div>
        </div>
    </div>
</div>