<div class="container-fluid" *ngIf="selectedJob ; else noJobsSelected">
    <div class="row">
        <div class="col-xl-12 p-2 bg-admin text-white">
            <h4 class="font-weight-bold">{{'job.details' | translate}} -{{selectedJob.title}}</h4>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="card bg-grey2">
                <div class="card-body">
                    <h5 class="mb-2"><strong>{{'job.title' | translate}} :</strong> {{selectedJob.title}}</h5>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2">
                                <img src="assets/images/A_Mask Group 42.svg">
                            </div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'employement.type' | translate}}:</p>
                                <p class="text-muted mb-0" *ngIf="selectedJob.employmentType; else none">
                                    {{selectedJob.employmentType==='WORKER_1099'? 'Temporary Worker - 1099': selectedJob.employmentType==='WORKER_W2'? 'Temporary Worker - W2': 'Full-time Employee'}}
                                </p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2">
                                <img src="assets/images/A_estimate_date.svg">
                            </div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'estimated.start.date' | translate}}:</p>
                                <p class="text-muted mb-0" *ngIf="selectedJob.estimatedStartDate; else none">
                                    {{selectedJob.estimatedStartDate | date:'longDate'}}</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2">
                                <img src="assets/images/A_Mask Group 41.svg">
                            </div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'location' | translate}}:</p>
                                <p class="text-muted mb-0" *ngIf="selectedJob.city && selectedJob.state; else none">
                                    {{selectedJob.city}},{{selectedJob.state}}</p>
                                <ng-template #none>
                                    {{'n.a' | translate}}
                                </ng-template>
                            </div>
                        </div>

                        <div class="d-flex align-items-center flex-fill mx-2">
                            <div class="mr-2">
                                <img src="assets/images/A_Mask Group 44.svg">
                            </div>
                            <div>
                                <p class="font-weight-bold mb-0">{{'region' | translate}}:</p>
                                <p class="text-muted mb-0" *ngIf="selectedJob.region; else noRegion">
                                    {{selectedJob.region}}</p>
                                <ng-template #noRegion>
                                    {{'n.a' | translate}}
                                </ng-template>
                            </div>
                        </div>

                        <div class="w-100 mt-4">
                            <p class="font-weight-bold mb-1">{{'job.description' | translate}} :</p>
                            <div *ngIf="selectedJob.description; else noDescription">
                                <a href="javascript:;" (click)="openDialogReadMore(selectedJob.description)">View</a>

                            </div>
                            <ng-template #noDescription>
                                {{'n.a' | translate}}
                            </ng-template>

                            <div class="w-100 d-flex flex-wrap mt-3">

                                <h5 class="font-weight-bold mr-1" *ngIf="selectedJob.noOfOpeningJob">
                                    {{'no.ofjob.openings' | translate}}: {{selectedJob.noOfOpeningJob}}</h5>
                                <h5 class="font-weight-bold mr-1" *ngIf="selectedJob.experience">
                                    | {{'experience.required' | translate}}: {{selectedJob.experience.level}}</h5>
                                <h5 class="font-weight-bold mr-1" *ngIf="selectedJob.employmentType === 'WORKER_1099'|| selectedJob.employmentType === 'WORKER_W2'">
                                    | {{'hourly.rate.range'| translate}}: <span>${{selectedJob.hourlyRateFrom}} -
                                        ${{selectedJob.hourlyRateTo}}</span></h5>
                                <h5 class="font-weight-bold mr-1" *ngIf="selectedJob.employmentType==='FULL_TIME'">
                                    | {{'annual.salary.range'| translate}}:
                                    <span>${{selectedJob.annualSalaryFrom}} - ${{selectedJob.annualSalaryTo}}</span>
                                </h5>

                            </div>
                        </div>




                    </div>
                    <div>
                        <label class="font-weight-bold" for="externalLink"> External URL:</label>
                        <span *ngIf="selectedJob.jobType==='OPEN_MARKET_REQUEST'; else privateRequest">
                            <button pButton pRipple type="button" (click)="copyExternalLink()"
                                pTooltip="Copy to clipboard" class="p-button-rounded p-button-text" style="color: #bb002b;"> 
                                <span style="font-size: 25px !important;" class="pi pi-copy px-0">
                                </span>
                        </button>
                        </span>
                        <ng-template #privateRequest>
                            {{'link.not.available.as.job.is.of.private.request.type' | translate}}
                        </ng-template>
                    </div>
                </div>
                <div class="card-footer" *ngIf="selectedJob.employmentType === 'WORKER_1099'|| selectedJob.employmentType === 'WORKER_W2'">
                    <div class="d-flex flex-wrap justify-content-start">

                        <p class="font-weight-bold mr-2 mb-0"><span>{{'per.diem' | translate}}:</span> <span class="badge bg-admin text-white ml-2">{{selectedJob.isPerDiem=== true ? 'Yes':
                                'No'}}</span>
                        </p>
                        <p class="font-weight-bold mr-2 mb-0" *ngIf="selectedJob.isPerDiem"><span>Per Diem Rate:</span> <span class="ml-2 badge bg-admin text-white">
                                ${{selectedJob.perDiemRate}}</span> | </p>
                        <p class="font-weight-bold mr-2 mb-0"><span>{{'mileage.reimbursement' | translate}}:</span>
                            <span class="ml-2 badge bg-admin text-white">{{selectedJob.isPayForMilage=== true ? 'Yes':
                                'No'}}</span>
                        </p>
                        <p class="font-weight-bold mr-2 mb-0" *ngIf="selectedJob.isPayForMilage"><span>Min
                                Mileage:</span> <span class="ml-2 badge badge bg-admin text-white">{{selectedJob.minimumMile}}</span></p>
                        <p class="font-weight-bold mr-2 mb-0" *ngIf="selectedJob.isPayForMilage"><span>{{'mileage.rate'
                                | translate}}:</span> <span class="ml-2 badge bg-admin text-white">${{selectedJob.milageRate}}</span></p>

                    </div>
                </div>

                <div class="card-footer" *ngIf="selectedJob.employmentType === 'FULL_TIME'">
                    <div class="d-flex flex-wrap justify-content-start">

                        <p class="font-weight-bold mr-2 mb-0">{{'yearly.bonus' | translate}}<span class="badge bg-admin text-white ml-2">{{selectedJob.isYearlyBonus === true ? 'Yes':
                                'No'}}</span></p>

                        <p class="font-weight-bold mr-2 mb-0">|</p>

                        <p class="font-weight-bold mr-2 mb-0">{{'health.benefits' | translate}}
                            <span class="badge bg-admin text-white ml-2">{{selectedJob.isHealthBenifit=== true ? 'Yes':
                                'No'}}</span>
                        </p>

                        <p class="font-weight-bold mr-2 mb-0">|</p>

                        <p class="font-weight-bold mr-2 mb-0">{{'401k.requirement' | translate}}<span class="badge bg-admin text-white ml-2">{{selectedJob.is401KRetirement=== true ? 'Yes':
                                'No'}}</span></p>

                        <p class="font-weight-bold mr-2 mb-0">|</p>

                        <p class="font-weight-bold mr-2 mb-0">{{'relocation.benefits' | translate}}
                            <span class="badge bg-admin text-white ml-2">{{selectedJob.isRelocationBenifit === true ?
                                'Yes':
                                'No'}}</span>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <h5 class="font-weight-bold my-3">{{'worker'|translate}}</h5>
        </div>
        <div class="col-6">
            <div class="card alert-danger">
                <div class="card-body">
                    <label class="font-weight-bold text-dark">{{'accepted.invitations' | translate}}
                        <span *ngIf="acceptedInvitations.length!==0">
                            ({{acceptedInvitations.length}})
                        </span>
                    </label>

                    <ul class="pl-0 scroll">
                        <li *ngFor="let invitee of acceptedInvitations">
                            <a href="#" (click)="redirectToWorker(invitee.user.id)" class="p-button-link">
                                {{invitee.user.firstName}} {{invitee.user.lastName}}
                                <span *ngIf="invitee.status === 'ACCEPTED'">(Submitted)</span>
                                <span *ngIf="invitee.status === 'ACCEPTED_PENDING'">(Submission pending)</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card alert-danger">
                <div class="card-body">
                    <label class="font-weight-bold text-dark">{{'pending.response' | translate}}
                        <span *ngIf="pendingResponseData.length!==0">({{pendingResponseData.length}})</span>
                    </label>

                    <ul class="pl-0 scroll">
                        <li *ngFor="let invitee of pendingResponseData">
                            <a href="#" (click)="redirectToWorker(invitee.user.id)" styleClass="p-button-link">
                                {{invitee.user.firstName}} {{invitee.user.lastName}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>



        <div class="col-md-6">
            <h5 class="font-weight-bold my-3">{{'offered.workers' | translate}}</h5>
            <div class="card">
                <div class="card-body">
                    <div class="scroll">
                        <ul *ngFor="let offered of offeredWorkers">
                            <li class="card-body">
                                <a href="#" (click)="redirectToWorker(offered.id)" styleClass="p-button-link">
                                    <p *ngIf="offered"> {{offered.firstName}} {{offered.lastName}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="font-weight-bold my-3">{{'hired.workers' | translate}}</h5>
            <div class="card">
                <div class="card-body">
                    <div class="scroll">
                        <ul *ngFor="let hired of hiredWorkers">
                            <li *ngIf="hiredWorkers">
                                <a href="#" (click)="redirectToWorker(hired.id)" styleClass="p-button-link">
                                    <p *ngIf="hired"> {{hired.firstName}} {{hired.lastName}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-7">
            <h5 class="font-weight-bold my-3">{{'certificates.required' | translate}} :</h5>
            <div class="card">
                <div class="card-body">
                    <div class="scroll">
                        <div *ngIf="certificates; else noCertificates">
                            <p *ngFor="let certificateData of certificates"> {{certificateData.certificate.name}} </p>
                        </div>
                        <ng-template #noCertificates>
                            {{'no.certificates' | translate}}
                        </ng-template>
                    </div>

                </div>
            </div>

            <h5 class="font-weight-bold my-3">{{'screening.questions' | translate}} :</h5>
            <div class="card">
                <div class="card-body">
                    <div class="scroll">
                        <ul class="pl-0" *ngIf="screeningQuestions; else nonesq">
                            <li *ngFor="let screeningQuestion of screeningQuestions">
                                {{screeningQuestion.question}}
                            </li>
                        </ul>
                        <ng-template #nonesq>
                            {{'no.screening.questions' | translate}}
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-5">
            <h5 class="font-weight-bold my-3">{{'location' | translate}}</h5>
            <div class="card">

                <div class="card-body block location p-1" *ngIf=" (lat !== 0 && lng !== 0) ;else noLocation1">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng">
                                <agm-info-window [isOpen]="true">
                                    <h6>{{selectedJob.location}}</h6>
                                </agm-info-window>
                            </agm-marker>
                        </agm-marker>
                    </agm-map>
                </div>
                <ng-template #noLocation1>
                    <span class="text-center font-weight-bold mt-3"> {{'no.location.found' | translate}}</span>
                </ng-template>
            </div>
        </div>

    </div>
</div>

<ng-template #noJobsSelected>
    <h5 class="text-muted text-center mt-3">{{'no.record.found' | translate}}</h5>
</ng-template>
<p-dialog header="Job Description" [style]="{width: '600px'}" [(visible)]="readMoreDialog" (onHide)="closeReadMoreDialog()">
    <div *ngIf="selectedJob" [innerHtml]="selectedJob.description">
    </div>
</p-dialog>