<mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <img src="assets/images/logo_white.png" alt="" class="brand-logo">        
    </div>
    <div class="d-flex align-self-center main-nav mr-2">
        <div class="py-2">
            <ng-container *ngIf="displayAvatar">
                <p-avatar label={{usernameLabel}} styleClass="p-mr-2" size="large"
                    [style]="{'background-color':avatarColor, 'color': '#ffffff'}" shape="circle"></p-avatar>
            </ng-container>
            <ng-container *ngIf="!displayAvatar">
                
                    <img style="float:left;" [src]="singleImageView" class="rounded-circle mr-2" width="35" height="35" alt="">
                
            </ng-container>             
                {{loggedInUserName}}
        </div>
    </div>
</mat-toolbar>
<div class="container-fluid mb-3 Common_Profile_Border_Bottom" *ngIf="clientDetail">
    <div class="row">
        <div class="col-xl-12 p-2 bg-primary text-white">
            <h4 class="font-weight-bold">Client Profile</h4>
        </div>
    </div>
    <div class="mx-auto mt-1 bg">

        <div class="row  mt-3 ">
            <div class="col-lg-2 d-flex align-items-center View_Ava">
                <ng-container *ngIf="!clientDetail.basicProfile.photo">
                    <p-avatar label={{clientDetail.basicProfile.user.firstName.substring(0,1)+clientDetail.basicProfile.user.lastName.substring(0,1)}} styleClass="p-mr-2" size="xlarge" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                </ng-container>
                <ng-container *ngIf="clientDetail.basicProfile.photo">
                    <img style="margin: auto;" width="150" src="{{imageUrl + clientDetail.basicProfile.photo}}" alt="profilePhoto" class="profileImage">
                </ng-container>
            </div>

            <div class="col-lg-6 col-md-8">
                <div class=" rating-card">
                    <h4 class="text-primary">
                        <span *ngIf="clientDetail.basicProfile.user.firstName">
                            {{clientDetail.basicProfile.user.firstName}} {{clientDetail.basicProfile.user.lastName}}
                        </span>
                    </h4>
                    <p class="text-black font-weight-bold mb-2">{{clientDetail.memberSince}}</p>
                    <p class="text-muted text-break">
                        <span *ngIf="clientDetail.basicProfile.companyDescription; else noRecordFound">
                            {{clientDetail.basicProfile.companyDescription}}
                        </span>
                        <ng-template #noRecordFound>
                            <p class="text-dark mb-0"> {{'n.a' | translate }} </p>
                        </ng-template>
                    </p>
                    <a class="text-dark font-weight-bold"><i class="fa fa-map-marker"></i>
                        <span *ngIf="clientDetail.basicProfile.city; else noRecordFounds">
                            {{clientDetail.basicProfile.city}} , {{clientDetail.basicProfile.state}}
                        </span>
                        <ng-template #noRecordFounds> <span class="text-dark mb-0"> {{'n.a' | translate }} </span></ng-template>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex align-items-center">
                <div class="rounded rating-card bg-primary p-4">
                    <div class="rating-card mx-2">
                        <h3 class="text-white text-center mb-1 font-weight-bold">
                            <span *ngIf="clientDetail.averageRating === 'New Client'; else rating">
                                {{clientDetail.averageRating}}
                            </span>
                            <ng-template #rating>
                                <i class="fa fa-star star" aria-hidden="true"></i> {{clientDetail.averageRating}}
                            </ng-template>
                        </h3>
                        <p class="text-white text-center mb-0" *ngIf="clientDetail.averageRating !== 'New Client'">{{'average.rating' | translate }}</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="card w-100 my-3">
            <div class="card-header">
                <h5 class="font-weight-bold">{{'contact' | translate}}</h5>
            </div>
            <div class="d-flex flex-wrap ">
                <div class="flex-fill text-center p-3">
                    <span class="material-icons  text-primary h1">
                        groups
                    </span>
                    <p class="text-dark mb-0">
                        <span *ngIf="clientDetail.basicProfile.numberOfEmployee ; else noRecordFound">
                            {{clientDetail.basicProfile.numberOfEmployee.name}}
                        </span>
                    </p>
                    <p class="text-muted mb-0"><small>{{'company.size' | translate }}</small></p>
                </div>
                <div class="flex-fill text-center  p-3">
                    <span class="material-icons  text-primary h1">
                        contact_phone
                    </span>
                    <p class="text-dark mb-0" *ngIf="clientDetail.basicProfile.contactPhone ; else noRecordFound">{{clientDetail.basicProfile.contactPhone}}</p>
                    <p class="text-muted mb-0"><small>Work Number</small></p>
                </div>
                <div class="flex-fill text-center  p-3">
                    <span class="material-icons text-primary h1">
                        smartphone
                    </span>
                    <p class="text-dark mb-0" *ngIf="clientDetail.basicProfile.companyPhone ; else noRecordFound">{{clientDetail.basicProfile.companyPhone}}</p>
                    <p class="text-muted mb-0"><small>{{'mobile.number' | translate }}</small></p>
                </div>
                <div class="flex-fill text-center  p-3">
                    <span class="material-icons text-primary h1">
                        mail_outline
                    </span>
                    <p class="text-dark mb-0" *ngIf="clientDetail.basicProfile.contactEmail ; else noRecordFound">{{clientDetail.basicProfile.contactEmail}}</p>
                    <p class="text-muted mb-0"><small>{{'email' | translate }}</small></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 tile2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="font-weight-bold"> {{'projects' | translate }}</h5>
                        <a (click)="onViewAllProjectClick(userId)" class="p-button-link view_all_btn">
                            View All
                        </a>
                    </div>
                    <div class="card-body p-1 overflow-auto">
                        <ng-container *ngIf="clientDetail.clientRecentProjects.length !== 0; else noProjectFound">
                            <ul class="list-group-wrapper" *ngFor="let project of clientDetail.clientRecentProjects">
                                <li>
                                    <h5 class="mb-0">{{project.title}}</h5>
                                    <p class="text-muted mb-2">
                                        <span *ngIf="project.projectCompletedDate;else projectOngoing">
                                            {{ project.projectPostedDate | date : 'mediumDate'}} to {{project.projectCompletedDate | date : 'mediumDate'}}
                                        </span>
                                        <ng-template #projectOngoing>
                                            {{'ongoing' | translate}} {{ project.projectPostedDate | date : 'mediumDate'}}
                                        </ng-template>
                                    </p>
                                    <p class="text-primary mb-2"><i class="fa fa-map-marker"></i> {{ project.region}} , {{ project.state}}
                                    </p>
                                </li>
                            </ul>
                        </ng-container>
                        <ng-template #noProjectFound> 
                            <div class="w-100">
                                <p class="mt-3 text-center">{{'no.projects.found' | translate}}</p>
                            </div>
                        </ng-template>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 tile2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="font-weight-bold">{{'jobs' | translate}}</h5>
                        <a (click)="onViewAllJobClick(userId)" class="p-button-link view_all_btn">
                            View All
                        </a>
                    </div>
                    <div class="card-body p-1 overflow-auto">
                        <ng-container *ngIf="clientDetail.clientRecentJobs.length !== 0; else noJobFound">
                            <ul class="list-group-wrapper" *ngFor="let job of clientDetail.clientRecentJobs">
                                <li>
                                    <h5 class="mb-0">{{job.title}}</h5>
                                    <p class="text-muted mb-2">
                                        <span *ngIf="job.jobCompletedDate;else jobOngoing">
                                            {{ job.jobPostedDate  | date : 'mediumDate'  }} to {{job.jobCompletedDate  | date : 'mediumDate' }}
                                        </span>
                                        <ng-template #jobOngoing>
                                            {{'ongoing' | translate}} {{ job.jobPostedDate | date : 'mediumDate' }}
                                        </ng-template>
                                    </p>
                                    <p class="text-primary mb-2"><i class="fa fa-map-marker"></i> {{ job.location}}
                                    </p>
                                </li>
                            </ul>
                        </ng-container>
                        <ng-template #noJobFound>
                            <div class="w-100">
                                <p class="mt-3 text-center">{{'no.jobs.found' | translate}}</p>
                            </div>
                        </ng-template>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 tile2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="font-weight-bold"> {{'rating.review' | translate}}</h5>
                        <a (click)="onViewAllRatingReviewClick(userId)" class="p-button-link view_all_btn">
                            View All
                        </a>
                    </div>
                    <div class="card-body p-1 overflow-auto">
                        <ng-container *ngIf="clientDetail.clientRecentRatingAndReview.length !== 0; else noratingFound">
                            <ul class="list-group-wrapper" *ngFor="let ratingAndReview of clientDetail.clientRecentRatingAndReview">
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5 class="mb-0 text-primary">
                                                {{ratingAndReview.submittedBy.firstName}} {{ratingAndReview.submittedBy.lastName}}
                                            </h5>
                                            <p class="text-muted mb-1">
                                                <span *ngIf="ratingAndReview.jobDetail">
                                                    {{ratingAndReview.jobDetail.title}}
                                                </span>
                                                <span *ngIf="ratingAndReview.project">
                                                    {{ratingAndReview.project.title}}
                                                </span>
                                                <span *ngIf="ratingAndReview.jobsite">
                                                    {{ratingAndReview.jobsite.title}}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="text-warning h2">
                                            <i class="fa fa-star star" aria-hidden="true"></i>{{ratingAndReview.rating}}
                                        </div>
                                    </div>
                                    <p>{{ratingAndReview.ratingText}} </p>
                                </li>
                            </ul>
                        </ng-container>
                        <ng-template #noratingFound>
                            <div class="w-100">
                                <p class="mt-3 text-center">{{'no.rating.review.found' | translate}}</p>
                            </div>
                        </ng-template>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 tile2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="font-weight-bold">{{'location' | translate}}</h5>
                    </div>
                    <div class="block location" *ngIf=" (lat !== 0 && lng !== 0) ;else noLocation1">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng">
                                <agm-info-window [isOpen]="true">
                                    <h6>{{clientDetail.basicProfile.location}}</h6>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                    <ng-template #noLocation1>
                        <div class="w-100">
                            <p class="mt-3 text-center">{{'no.location.found' | translate}}</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-toolbar class="d-flex justify-content-between px-2 text-small">
    <span>© 2021 Site Worker. All Rights Reserved.</span>
    <div>
        <a (click)="onTermsOfUseClick()" class="text-dark cursor-pointer">Terms of Use</a> | <a (click)="onPrivacyPolicyClick()" class="text-dark cursor-pointer">Privacy Policy</a> | <a (click)="onCookiePolicyClick()" class="text-dark cursor-pointer">Cookies Policy</a>
    </div>
</mat-toolbar>