<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-12">
            <div class="float-right">
                <button pButton type="button" class="bg-admin" (click)="openFilter()"
                    label="{{ 'filter'| translate}}"><i class="fa fa-filter mr-1"></i></button>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-xl-12">
            <div class="card bg-grey2" *ngIf="showFilterDialog">
                <div class="card-body">
                    <form [formGroup]="myForm">
                        <div class="row">
                            <div class="form-group col-md-4">

                                <label for="name">{{ "Search" | translate }} : </label>
                                <input type="text" formControlName="genericSearch" id="name_searchbox"
                                    class="form-control" placeholder="{{'type.to.filter.worker' | translate}}" />

                            </div>
                            <div class="form-group col-md-4">
                                <label for="name_searchbox">{{'name' |translate}}</label>
                                <p-autoComplete forceSelection="true" formControlName="name" [field]="getFullName"
                                    [multiple]="false" [dropdown]="false" (completeMethod)="getWorkerByName($event)"
                                    [suggestions]="filterWorkers" placeholder="Filter by Worker Name" minLength="3"
                                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                                </p-autoComplete>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="email_searchbox">{{ "email.address" | translate }} :</label>
                                <input type="text" id="email_searchbox" formControlName="email" class="form-control"
                                    placeholder="Filter by Email Address" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-8">
                                <label>{{"posted.between" | translate}} :</label>
                                <div class="row">
                                    <div class="col-xl-6 col-sm-6">
                                        <div class="form-group">
                                            <p-calendar placeholder="MM/DD/YYYY" formControlName="postedStart"
                                                [maxDate]="postedEndDate" appendTo="body" [(ngModel)]="postedStartDate"
                                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1975:2050"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-sm-6">
                                        <div class="form-group">
                                            <p-calendar placeholder="MM/DD/YYYY" formControlName="postedEnd"
                                                [(ngModel)]="postedEndDate" appendTo="body" [minDate]="postedStartDate"
                                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1975:2050"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Status_searchbox">{{ "status" | translate }} :</label>
                                    <p-dropdown [options]="status" formControlName="status" id="Status_searchbox"
                                        placeholder="Select Status" optionLabel="option">
                                        <span>{{status.option}}</span>
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <button pButton type="button" (click)="filter()" label="{{ 'apply' | translate }}"
                                    class="p-button-outlined mr-3"></button>
                                <button pButton pRipple label="{{'clear' | translate}}" class="bg-admin"
                                    (click)="clear()"></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>


    </div>

    <div class="row">
        <div class="col-xl-12 mb-2">
            <button pButton type="button" class="bg-admin" *ngIf="showButtons" (click)="openAddWorker()"
                label="{{ 'add.worker' | translate }}"></button>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="status">{{ "change.status" | translate }} :</label>
                                <p-dropdown [disabled]="btnDisabled" [options]="changeStatus"
                                    [(ngModel)]="selectedStatus" placeholder="Select Status" optionLabel="option">
                                </p-dropdown>

                            </div>
                        </div>
                        <div class="col-xl-6 d-flex align-items-center mt-2">
                            <button [disabled]="btnDisabled" pButton type="button" label="{{ 'apply'| translate}}"
                                class="p-button-outlined" (click)="onChangeStatusOfselected()"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-12">
            <p-table #dt [value]="workers" [columns]="selectedColumns" [resizableColumns]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} workers" [lazy]="true"
                (onLazyLoad)="onLazyLoad($event)" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
                [loading]="loading" [(selection)]="selectedWorkers" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="rowsPerPageOptions">
                <ng-template pTemplate="caption">
                    <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="label"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '250px'}"
                        placeholder="Choose Columns">
                    </p-multiSelect>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 3rem;">
                        <col *ngFor="let col of columns" style="width: 250px;">
                        <col style="width: 400px;">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pResizableColumn style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pResizableColumn id="column_{{col.value}}" *ngFor="let col of columns"
                            pSortableColumn="{{col.value}}">
                            {{col.label}}
                            <p-sortIcon *ngIf="col.sortable" field="{{col.value}}"></p-sortIcon>
                        </th>
                        <th pResizableColumn>{{ "action" | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-worker let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="worker">
                            </p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns" [ngSwitch]="col.value">
                            <div *ngSwitchCase="'profile_image'">
                                <img *ngIf="worker.workerProfile.photo" src="{{imageUrl + worker.workerProfile.photo}}"
                                    alt="{{worker.workerProfile.user.firstName}}" class="rounded-circle mr-2" width="56"
                                    height="56" srcset="">
                                <p-avatar *ngIf="!worker.workerProfile.photo"
                                    label={{setAvtar(worker.workerProfile.user.firstName,worker.workerProfile.user.lastName)}}
                                    styleClass="p-mr-2 bg-admin text-white" size="xlarge" shape="circle"> </p-avatar>
                            </div>
                            <div *ngSwitchCase="'name'">
                                {{worker.workerProfile.user.firstName}} {{worker.workerProfile.user.lastName}}
                            </div>
                            <div *ngSwitchCase="'email'">
                                {{worker.workerProfile.user.email}}
                            </div>
                            <div *ngSwitchCase="'job_title'">
                                {{worker.workerProfile.jobTitle?.title ? worker.workerProfile.jobTitle?.title : 'N/A'}}
                            </div>
                            <div *ngSwitchCase="'mobile_phone'">
                                {{worker?.workerProfile?.mobilePhone ? worker?.workerProfile?.mobilePhone : 'N/A'}}
                            </div>
                            <div *ngSwitchCase="'created_date'">
                                {{worker.workerProfile.createdDate | date: shortDate}}
                            </div>
                            <div *ngSwitchCase="'payment_rails_id'">
                                <span *ngIf="worker.workerProfile.paymentRailsId; else none">
                                    {{worker.workerProfile.paymentRailsId}}
                                </span>
                                <ng-template #none>
                                    N/A
                                </ng-template>
                            </div>
                            <div *ngSwitchCase="'tsheet_id'">
                                <span *ngIf="worker.workerProfile.tsheetId; else none1">
                                    {{worker.workerProfile.tsheetId}}
                                </span>
                                <ng-template #none1>
                                    N/A
                                </ng-template>
                            </div>
                            <div *ngSwitchCase="'available_status'">
                                <span class="text-success"
                                    *ngIf="worker.workerProfile.status === 'AVAILABLE' ; else unavailable">
                                    {{'available' | translate}}
                                </span>
                                <ng-template #unavailable>
                                    <span class="text-danger">
                                        {{'unavailable' | translate}}
                                    </span>
                                </ng-template>
                            </div>
                            <div *ngSwitchCase="'is_verified'">
                                <span *ngIf="worker.workerProfile.user.verified">
                                    Yes
                                </span>
                                <span *ngIf="!worker.workerProfile.user.verified">
                                    No
                                </span>
                            </div>
                            <div *ngSwitchCase="'references'">
                                <button [disabled]="btnDisabled" pButton type="button" label="View & Manage References"
                                    class="p-button-link p-1"
                                    (click)="manageReferences(worker.workerProfile.user)"></button>
                            </div>
                            <div *ngSwitchCase="'certificates'">
                                <button [disabled]="btnDisabled" pButton type="button" label="View & Manage Certificate"
                                    class="p-button-link p-1"
                                    (click)="manageCertificates(worker.workerProfile.user)"></button>
                            </div>
                            <div *ngSwitchCase="'status'">
                                <span class="text-success" *ngIf="worker.workerProfile.user.active ; else inActive">
                                    {{'active' | translate}}
                                </span>
                                <ng-template #inActive>
                                    <span class="text-danger">
                                        {{'inactive' | translate}}
                                    </span>
                                </ng-template>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success mr-2 btn-sm"
                                (click)="redirectToWorker(worker.workerProfile.user.id)" tooltipPosition="bottom"
                                pTooltip="{{'viewProfile' | translate}}">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="roleName != 'SUBADMIN'" class="btn btn-warning mr-2 btn-sm"
                                [disabled]="btnDisabled" (click)="showloginAsDialog(worker)" tooltipPosition="bottom"
                                pTooltip="{{'sign.on' | translate}}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary mr-2 btn-sm" [disabled]="btnDisabled"
                                (click)="forgotPassword(worker.workerProfile.user.email)" tooltipPosition="bottom"
                                pTooltip="{{'forgot.password' | translate}}">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="selectedColumns.length + 2" class="text-center">
                            <span>No records found</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>





<p-dialog [(visible)]="workerDialog" [closable]="false" [style]="{width: '450px'}" header="Add Worker" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="addWorkerForm">
            <div class="">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="firstname1">{{'first.name' | translate}}*</label>
                        <input placeholder="Enter First Name" maxlength="50" formControlName="firstName" id="firstname1"
                            type="text" pInputText >

                        <div class="p-invalid"
                            *ngIf="(submitted && !addWorkerForm.get('firstName').valid) || (!addWorkerForm.get('firstName').valid && addWorkerForm.get('firstName').touched) ">
                            <div *ngIf=" ( addWorkerForm.get('firstName').errors.required) ">
                                {{'required' | translate}} </div>

                            <div *ngIf=" addWorkerForm.get('firstName').errors.maxlength">
                                {{'fifty.maxlength' | translate}} </div>
                        </div>

                    </div>
                    <div class="p-field p-col">
                        <label for="lastname1">{{'last.name' | translate}}*</label>
                        <input placeholder="Enter Last Name" maxlength="50" formControlName="lastName" id="lastname1"
                            type="text" pInputText>
                        <div class="p-invalid"
                            *ngIf="(submitted && !addWorkerForm.get('lastName').valid) || (!addWorkerForm.get('lastName').valid && addWorkerForm.get('lastName').touched) ">
                            <div *ngIf=" ( addWorkerForm.get('lastName').errors.required) ">
                                {{'required' | translate}} </div>

                            <div *ngIf=" addWorkerForm.get('lastName').errors.maxlength">
                                {{'fifty.maxlength' | translate}} </div>
                        </div>
                    </div>
                </div>

                <div class="p-field p-fluid" *ngIf="!selectedValue">
                    <label for="b">{{'personal.email' | translate}}*</label>
                    <input placeholder="Enter Email" maxlength="50" formControlName="email" id="b" type="email"
                        pInputText>
                    <div class="p-invalid"
                        *ngIf="(submitted && !addWorkerForm.get('email').valid) || (!addWorkerForm.get('email').valid && addWorkerForm.get('email').touched)">
                        <div *ngIf=" ( addWorkerForm.get('email').errors.required) ">
                            {{'required' | translate}} </div>

                        <div *ngIf=" addWorkerForm.get('email').errors.maxlength">
                            {{'hundred.maxlength' | translate}} </div>
                        <div class="p-invalid" *ngIf=" (!addWorkerForm.get('email').valid) ">

                            <div *ngIf="addWorkerForm.get('email').dirty &&
                                        (addWorkerForm.get('email').errors.incorrectEmailFormat &&
                                        !addWorkerForm.get('email').errors.required)">
                                {{'invalid.email' | translate}} </div>
                        </div>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col">
                        <label for="mobilePhone">{{'mobile.phone' | translate}}*</label>
                        <p-inputMask id="mobilePhone" mask="(999) 999-9999" required formControlName="mobilePhone"
                            placeholder="Enter Mobile Phone"></p-inputMask>
                        <div class="p-invalid"
                            *ngIf="(submitted && !addWorkerForm.get('mobilePhone').valid) || (!addWorkerForm.get('mobilePhone').valid && addWorkerForm.get('mobilePhone').touched) ">
                            <div *ngIf=" ( addWorkerForm.get('mobilePhone').errors.required) ">
                                {{'required' | translate}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="openConfirmationDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined" (click)="onSubmit()"></button>
    </ng-template>

</p-dialog>


<p-dialog [(visible)]="workerRipplingDialog" [style]="{width: '450px'}" header="Add Rippling" [modal]="true"
    styleClass="p-fluid" (onHide)="hideRipplingDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="myRipplingForm">
            <div class="">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="ripplingID">{{'payment.id' | translate}}*</label>
                        <input placeholder="Enter Rippling ID" maxlength="25" formControlName="ripplingID"
                            id="ripplingID" type="text" pInputText required pKeyFilter="alphanum">
                        <div class="p-invalid"
                            *ngIf="(submitted && !myRipplingForm.get('ripplingID').valid) || (!myRipplingForm.get('ripplingID').valid && myRipplingForm.get('ripplingID').touched) ">
                            <div *ngIf=" ( myRipplingForm.get('ripplingID').errors.required) ">
                                {{'required' | translate}} </div>

                            <div *ngIf=" myRipplingForm.get('ripplingID').errors.maxlength">
                                {{'twentyfive.maxlength' | translate}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hideRipplingDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="saveRipplingID()"></button>
    </ng-template>

</p-dialog>


<p-dialog [(visible)]="workerTSheetDialog" [style]="{width: '450px'}" header="Add TSheet" [modal]="true"
    styleClass="p-fluid" (onHide)="hideTSheetDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="myTSheetForm">
            <div class="">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="TSheetID">{{'tSheet.id' | translate}}*</label>
                        <input placeholder="Enter TSheet ID" maxlength="25" formControlName="TSheetID" id="TSheetID"
                            type="text" pInputText pKeyFilter="alphanum">
                        <div class="p-invalid"
                            *ngIf="(submitted && !myTSheetForm.get('TSheetID').valid) || (!myTSheetForm.get('TSheetID').valid && myTSheetForm.get('TSheetID').touched) ">
                            <div *ngIf=" ( myTSheetForm.get('TSheetID').errors.required) ">
                                {{'required' | translate}} </div>

                            <div *ngIf=" myTSheetForm.get('TSheetID').errors.maxlength">
                                {{'twentyfive.maxlength' | translate}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="bg-admin"
            (click)="hideTSheetDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined"
            (click)="saveTSheetID()"></button>
    </ng-template>

</p-dialog>

<!-- dialog -->
<p-dialog [(visible)]="logInAsDialog" (onHide)="hideloginAsDialog()" [style]="{width: '450px'}" header="Log in as"
    [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="loginAsForm" (ngSubmit)="onSubmitLoginAs()">
            <div class="p-field">
                <label for="name">{{ "user.name" | translate }} </label>
                <p-autoComplete [disabled]="true" formControlName="userName" id="industryType" [multiple]="false"
                    [dropdown]="false" (completeMethod)="getFilteredUsernameForLogin($event)" [field]="getFullName"
                    [suggestions]="filteredUserNameForLoginAs">
                    <ng-template let-user pTemplate="item">
                        <div>
                            <span>{{user.firstName}}</span> &nbsp;
                            <span>{{user.lastName}}</span> &nbsp;
                            <span>( {{user.email}} )</span>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="p-field">
                <label for="name">{{ "admin.user.name" | translate }} </label>
                <input type="text" pInputText id="regionName" maxlength="50" formControlName="adminUserName" required
                    placeholder="Enter Admin Username" />
                <div class="p-invalid"
                    *ngIf="(submitted && !loginAsForm.get('adminUserName').valid) || (!loginAsForm.get('adminUserName').valid && loginAsForm.get('adminUserName').touched) ">

                    <div *ngIf=" ( loginAsForm.get('adminUserName').errors.required) ">
                        {{'required' | translate}} </div>
                </div>
            </div>
            <div class="p-field">
                <label for="name">{{ "admin.user.password" | translate }} </label>
                <input type="password" pInputText id="regionName" formControlName="adminPassword" required
                    placeholder="Enter Admin Password" (keydown.enter)="onSubmitLoginAs()" />
                <div class="p-invalid"
                    *ngIf="(submitted && !loginAsForm.get('adminPassword').valid) || (!loginAsForm.get('adminPassword').valid && loginAsForm.get('adminPassword').touched) ">

                    <div *ngIf=" ( loginAsForm.get('adminPassword').errors.required) ">
                        {{'required' | translate}} </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Login" class="p-button-outlined" (click)="onSubmitLoginAs()"
            type="submit"></button>
    </ng-template>

</p-dialog>