<div class="container-fluid">
    <div class="container min-h-70">
        <div class="row">

            <div class="col-md-6 offset-md-3 order-1 order-md-2 mt-4">
                <div class="login-register mt-2">
                    <div class="login-box card">
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="changePasswordForm"
                                (ngSubmit)="onChangePassword()">

                                <label for="password">{{ 'old.password' | translate}}*</label>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input type="password" formControlName="oldPassword" maxlength="20"
                                            class="form-control" placeholder="{{'enter.old.password' | translate}}" 
                                            id="oldPassword">
                                    </div>
                                    <div class="p-invalid"
                                        *ngIf="changePasswordForm.controls['oldPassword'].touched && (changePasswordForm.controls['oldPassword'].hasError('required') && !changePasswordForm.controls['oldPassword'].valid)
                                    || (submitted && (changePasswordForm.controls['oldPassword'].hasError('required') && !changePasswordForm.controls['oldPassword'].valid))">
                                        {{'required'|translate}}</div>
                                </div>

                                <label for="password">{{ 'password' | translate}}*</label>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input type="password" formControlName="password" maxlength="20"
                                            class="form-control" placeholder="{{'enter.password' | translate}}"
                                            (focus)="onFocus()" (focusout)="onFocusOut()" id="password">
                                    </div>
                                    <div class="p-invalid"
                                        *ngIf="changePasswordForm.controls['password'].touched && (changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].valid)
                                    || (submitted && (changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].valid))">
                                        {{'required'|translate}}</div>
                                    <div class="p-invalid"
                                        *ngIf="changePasswordForm.controls['password'].touched && (changePasswordForm.controls['password'].hasError('pattern') && !changePasswordForm.controls['password'].valid)">
                                        {{'invalid.password'|translate}}</div>
                                    <div *ngIf="passwordSuggestion">
                                        <small>
                                            {{'password.formate' |translate}}
                                        </small>
                                    </div>
                                </div>
                                <label for="password">{{ 'confirm.password' | translate}}*</label>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input type="password" formControlName="confirmPassword" maxlength="20"
                                            class="form-control" placeholder="{{'reenter.password' | translate}}"
                                            id="confirm">
                                    </div>
                                    <div class="p-invalid"
                                        *ngIf="changePasswordForm.controls['confirmPassword'].touched && (changePasswordForm.controls['confirmPassword'].hasError('required') && !changePasswordForm.controls['confirmPassword'].valid)
                                    || (submitted && (changePasswordForm.controls['confirmPassword'].hasError('required') && !changePasswordForm.controls['confirmPassword'].valid))">
                                        {{'required'|translate}}</div>
                                    <div class="p-invalid"
                                        *ngIf="changePasswordForm.controls['confirmPassword'].touched && (changePasswordForm.controls['confirmPassword'].hasError('pattern') && !changePasswordForm.controls['confirmPassword'].valid)">
                                        {{'invalid.password'|translate}}</div>
                                    <div class="p-invalid"
                                        *ngIf="changePasswordForm.controls['confirmPassword'].touched && (changePasswordForm.controls['confirmPassword'].hasError('mustMatch') && !changePasswordForm.controls['confirmPassword'].valid)">
                                        {{'is.not.password.matched'|translate}}</div>
                                </div>
                                <div class="form-group text-center  mb-0">
                                    <button type="button" class="btn btn-primary" (click)="onChangePassword()"
                                        id="reset_password_submit">
                                        {{'change.password' | translate}}
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>