<div class="container-fluid">

    <h3 class="text-center">Subcontractor Gamification Configuration</h3>
    <div class="mx-auto m-5" style="width: 65%;">
        <form [formGroup]="gamificationSubcontractorForm">

            <div class="row mb-3">
                <div class=" col-md-6 row mb-3">
                    <div class="col-md-12 text-center align-self-center image-radius-zero">
                        <ng-container style="max-height: 300px; max-width: 300px; height: 300px; width: 300px;">
                            <ng-container *ngIf="(singleImageView && showPreview) || showPreview; else single">
                                <ngx-dropzone-image-preview [multiple]="false" *ngFor="let f of profileFile" [file]="f">
                                </ngx-dropzone-image-preview>
                            </ng-container>
                        </ng-container>
                        <ng-template #single>
                            <ng-container *ngIf="!displayDummyImage && singleImageView; else noGiveAwayImage">
                                <div>
                                    <img height="300" width="300" [src]="singleImageView" class="img-responsive">
                                </div>
                            </ng-container>
                            <ng-template #noGiveAwayImage>
                                <img width="300" height="300" [src]="giveAwayImageUrl" class="img-responsive">
                            </ng-template>
                        </ng-template>
                    </div>
                    <div class="col-md-12 align-self-center">
                        <div class="mt-3">
                            <ngx-dropzone [accept]="'image/png,image/jpeg'" [multiple]='false' [maxFileSize]="5000000" (change)="onSelect($event)">
                                <ngx-dropzone-label>{{ 'drag.drop.placeholder' | translate }}</ngx-dropzone-label>
                            </ngx-dropzone>
                            <p class="text-center text-muted small">User should upload 450px x 450px image for optimum result.
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 mb-3">
                    <div class="form-group">
                        <label for="name">
                            Benefits of a Month for Subcontractor*:
                            <i style="color: #bb002b;" class="pi pi-info-circle label-info"
                                pTooltip="Benefits for current month to be given to Top 3 Subcontractor. The uploaded image and content will be displayed to respective leaderboard."
                                tooltipPosition="right">
                            </i>
                        </label>
                        <p-editor [style]="{'height':'300px'}" formControlName="benefitsofaMonthforSubcontractor" placeholder="Enter benifit details here">
                            <p-header>
                                <ng-template [ngTemplateOutlet]="ed">
                                </ng-template>
                            </p-header>
                        </p-editor>

                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.get('benefitsofaMonthforSubcontractor').touched && 
                            (gamificationSubcontractorForm.get('benefitsofaMonthforSubcontractor').hasError('required') &&
                            !gamificationSubcontractorForm.get('benefitsofaMonthforSubcontractor').valid)
                            || (submitted &&
                            (gamificationSubcontractorForm.get('benefitsofaMonthforSubcontractor').hasError('required') && 
                            !gamificationSubcontractorForm.get('benefitsofaMonthforSubcontractor').valid))">
                            {{'required' | translate}}
                        </div>
                        <div class="p-invalid" *ngIf="(validateComments(gamificationSubcontractorForm.get('benefitsofaMonthforSubcontractor').value) > 1000)">
                            {{'lineItem.description.maxLength' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label style="font-weight: bold;">References in a Month</label>
                    <div class="form-group">
                        <label for="name" style="font-weight: unset ;">
                            Add References Points*:
                            <i style="color: #bb002b;" class="pi pi-info-circle label-info"
                                pTooltip="Points will be earned on each reference in a month"
                                tooltipPosition="right"></i>
                        </label>
                        <input class="form-control points-field-m" type="text" pInputText id="addReferences" formControlName="addReferences" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['addReferences'].touched && (gamificationSubcontractorForm.controls['addReferences'].hasError('required') && !gamificationSubcontractorForm.controls['addReferences'].valid)
                        || (submitted && (gamificationSubcontractorForm.controls['addReferences'].hasError('required') && 
                        !gamificationSubcontractorForm.controls['addReferences'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <label class="row" style="font-weight: bold;">
                    Average Quality Rating in a Month
                    <i style="color: #bb002b;" class="pi pi-info-circle label-info"
                        pTooltip="Points will be earned on average quality rating in a month"
                        tooltipPosition="right"></i>
                </label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset">Points for 4 to 5 Quality Rating*: </label>
                        <input class="form-control points-field-m" type="text" pInputText id="qualityRatingFourToFive" formControlName="qualityRatingFourToFive" required pKeyFilter="num" maxLength="2" />

                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['qualityRatingFourToFive'].touched && (gamificationSubcontractorForm.controls['qualityRatingFourToFive'].hasError('required') && !gamificationSubcontractorForm.controls['qualityRatingFourToFive'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['qualityRatingFourToFive'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['qualityRatingFourToFive'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset">Points for 3 to 4 Quality Rating*: </label>
                        <input class="form-control points-field-m" type="text" pInputText id="qualityRatingThreeToFour" formControlName="qualityRatingThreeToFour" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['qualityRatingThreeToFour'].touched && (gamificationSubcontractorForm.controls['qualityRatingThreeToFour'].hasError('required') && !gamificationSubcontractorForm.controls['qualityRatingThreeToFour'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['qualityRatingThreeToFour'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['qualityRatingThreeToFour'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset">Points for Below 3 Quality Rating*: </label>
                        <input class="form-control points-field-m" type="text" pInputText id="qualityRatingBelowThree" formControlName="qualityRatingBelowThree" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['qualityRatingBelowThree'].touched && (gamificationSubcontractorForm.controls['qualityRatingBelowThree'].hasError('required') && !gamificationSubcontractorForm.controls['qualityRatingBelowThree'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['qualityRatingBelowThree'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['qualityRatingBelowThree'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <label class="row" style="font-weight: bold;">
                    Average Safety Rating in a Month
                    <i style="color: #bb002b;" class="pi pi-info-circle label-info"
                        pTooltip="Points will be earned on average safety rating in a month"
                        tooltipPosition="right"></i>
                </label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Points for 4 to 5 Safety Rating*: </label>
                        <input class="form-control points-field-m" type="text" pInputText id="safetyRatingFourToFive" formControlName="safetyRatingFourToFive" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['safetyRatingFourToFive'].touched && (gamificationSubcontractorForm.controls['safetyRatingFourToFive'].hasError('required') && !gamificationSubcontractorForm.controls['safetyRatingFourToFive'].valid)
                                || (submitted && (gamificationSubcontractorForm.controls['safetyRatingFourToFive'].hasError('required') && 
                                !gamificationSubcontractorForm.controls['safetyRatingFourToFive'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Points for 3 to 4 Safety Rating*: </label>
                        <input class="form-control points-field-m" type="text" pInputText id="safetyRatingThreeToFour" formControlName="safetyRatingThreeToFour" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['safetyRatingThreeToFour'].touched && (gamificationSubcontractorForm.controls['safetyRatingThreeToFour'].hasError('required') && !gamificationSubcontractorForm.controls['safetyRatingThreeToFour'].valid)
                                || (submitted && (gamificationSubcontractorForm.controls['safetyRatingThreeToFour'].hasError('required') && 
                                !gamificationSubcontractorForm.controls['safetyRatingThreeToFour'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Points for Below 3 Safety Rating*: </label>
                        <input class="form-control points-field-m" type="text" pInputText id="safetyRatingBelowThree" formControlName="safetyRatingBelowThree" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['safetyRatingBelowThree'].touched && (gamificationSubcontractorForm.controls['safetyRatingBelowThree'].hasError('required') && !gamificationSubcontractorForm.controls['safetyRatingBelowThree'].valid)
                                || (submitted && (gamificationSubcontractorForm.controls['safetyRatingBelowThree'].hasError('required') && 
                                !gamificationSubcontractorForm.controls['safetyRatingBelowThree'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <label class="row" style="font-weight: bold;">Jobsite completed in a Month</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Minimum Jobsite Cost(In USD)*:
                        </label>
                        <input class="form-control points-field-m" type="text" pInputText id="jobsiteCost" formControlName="jobsiteCost" required pKeyFilter="num" maxLength="7" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['jobsiteCost'].touched && (gamificationSubcontractorForm.controls['jobsiteCost'].hasError('required') && !gamificationSubcontractorForm.controls['jobsiteCost'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['jobsiteCost'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['jobsiteCost'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Points for less than Jobsite cost*:
                            <i style="color: #bb002b;" class="pi pi-info-circle"
                                pTooltip="Points will be earned on each jobsite if cost is less than jobsite cost defined by Admin"
                                tooltipPosition="right"></i>
                        </label>
                        <input class="form-control points-field-m" type="text" pInputText id="pointsforJobsitecompletedinaMonthLessThanJobsiteCost" formControlName="pointsforJobsitecompletedinaMonthLessThanJobsiteCost" required pKeyFilter="num" maxLength="2" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthLessThanJobsiteCost'].touched && (gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthLessThanJobsiteCost'].hasError('required') && !gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthLessThanJobsiteCost'].valid)
                                            || (submitted && (gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthLessThanJobsiteCost'].hasError('required') && 
                                            !gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthLessThanJobsiteCost'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Points for greater than Jobsite cost*:
                            <i style="color: #bb002b;" class="pi pi-info-circle"
                                pTooltip="Points will be earned on each jobsite if cost is greater than or equal to jobsite cost defined by Admin"
                                tooltipPosition="right"></i>
                        </label>
                        <input class="form-control points-field-m" type="text" pInputText id="pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost" formControlName="pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost" required pKeyFilter="num" maxLength="2"
                        />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost'].touched && (gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost'].hasError('required') && !gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['pointsforJobsitecompletedinaMonthGreaterThanEqualToJobsiteCost'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <label class="row" style="font-weight: bold;">Total Points to be earned in a Month </label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Power User*:
                            <i style="color: #bb002b;" class="pi pi-info-circle"
                                pTooltip="Total points required to be Power User" tooltipPosition="right"></i>
                        </label>
                        <input class="form-control points-field-m" type="text" pInputText id="powerUser" formControlName="powerUser" required pKeyFilter="num" maxLength="4" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['powerUser'].touched && (gamificationSubcontractorForm.controls['powerUser'].hasError('required') && !gamificationSubcontractorForm.controls['powerUser'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['powerUser'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['powerUser'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="name" style="font-weight: unset;">Yellow Hard Hat User*:
                            <i style="color: #bb002b;" class="pi pi-info-circle"
                                pTooltip="Total points required to be Yellow Hard Hat User"
                                tooltipPosition="right"></i>
                        </label>
                        <input class="form-control points-field-m" type="text" pInputText id="yellowHardHat" formControlName="yellowHardHat" required pKeyFilter="num" maxLength="4" />
                        <div class="p-invalid" *ngIf="gamificationSubcontractorForm.controls['yellowHardHat'].touched && (gamificationSubcontractorForm.controls['yellowHardHat'].hasError('required') && !gamificationSubcontractorForm.controls['yellowHardHat'].valid)
                                    || (submitted && (gamificationSubcontractorForm.controls['yellowHardHat'].hasError('required') && 
                                    !gamificationSubcontractorForm.controls['yellowHardHat'].valid))">
                            {{'required' | translate}}
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <button class="float-right bg-admin" pButton pRipple label="{{ 'submit' | translate }}" type="submit" (click)="uploadLogo()" icon="pi pi-check-circle"></button>
    </div>
</div>

<ng-template #ed>
    <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
        <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
        <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
    </span>
    <span class="ql-formats">
        <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
        <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
        <select class="ql-align" tabindex="-1">
            <option selected tabindex="-1"></option>
            <option value="center" tabindex="-1"></option>
            <option value="right" tabindex="-1"></option>
            <option value="justify" tabindex="-1"></option>
        </select>
    </span>
</ng-template>