<app-signup-login-header></app-signup-login-header>
<div class="container-fluid ">
    <div class="container login_min_h d-flex align-items-center ">
        <div class="row login_page">
            <div class="col-md-6 col-lg-7 order-2 order-md-1 text-center">

                <div class="d-flex justify-content-center">
                    <div class="p-4 bg-warning rounded-circle">
                        <img width="70" src="assets/images/icn_login_01.svg" alt="">
                    </div>
                </div>

                <h3 class="my-3 py-1 font-weight-bold">{{ 'login.info1' | translate}}</h3>
                <p class="login_des_p">{{ 'login.info2' | translate}}</p>
                <div class="alert alert-warning mt-4 py-3 border-0 login_alert_box">
                    <h4 class="text-dark">Contact Us</h4>

                    <div class="d-flex flex-wrap justify-content-around">
                        <a class="text-dark mt-2" href="mailto:support@siteworker.com"><img src="assets/images/icn_email.svg" width="20" alt="" class="mr-3">support@siteworker.com</a>
                        <a class="text-dark mt-2" href="#"><img src="assets/images/icn_phone.svg" width="20" alt="" class="mr-3">(888) 418 2530</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 order-1 order-md-2">

                <div class="login-register">
                    <div class="login-box card radius-10">
                        <h5 class="card-header text-center bg-warning font-weight-bold p-4">
                            {{'signin' | translate}}
                        </h5>
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" id="loginform">


                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label>{{'email' | translate}}*</label>

                                        <input class="form-control" id="login_email" [formControl]="email" type="text" maxlength="255" pInputText placeholder="Enter Email Address" />
                                    </div>
                                    <div class="p-invalid" *ngIf="(submitted && !form.get('email').valid) || (!form.get('email').valid && form.get('email').touched) ">

                                        <div *ngIf=" (form.get('email').errors.required) ">
                                            {{'required' | translate}} </div>


                                        <div class="p-invalid" *ngIf=" (!form.get('email').valid) ">

                                            <div *ngIf="form.get('email').dirty &&
                                            (form.get('email').errors.incorrectEmailFormat &&
                                            !form.get('email').errors.required)">
                                                {{'invalid.email' | translate}} </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label>{{'password' | translate}}*</label>
                                        <input class="form-control" id="login_password" [formControl]="password" type="password" maxlength="100" placeholder="Enter Password" />
                                    </div>
                                    <div class="p-invalid" *ngIf="(submitted && !form.get('password').valid) || (!form.get('password').valid && form.get('password').touched) ">

                                        <div *ngIf=" (form.get('password').errors.required) ">
                                            {{'required' | translate}}
                                        </div>

                                    </div>

                                </div>


                                <div class="form-group text-center m-t-20">
                                    <button pButton class="p-button-warning" type="submit" label="{{'login' | translate}}" id="login_submit"></button>
                                </div>

                                <div class="form-group" style="text-align:center">
                                    <a style="color: #000; cursor: pointer" (click)="onForgotPassword()">{{'forgot.password' |
                                        translate}}</a> | <span>Don't
                                        have an Account? 
                                        <!-- <button pButton type="button" label="Sign Up!" class="p-button-link"  (click)="onSignup()"></button> -->
                                        <a style="color: #000; cursor: pointer" (click)="onSignup()">Sign Up!</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey">
    <div class="container py-2 text-center">
        <h3 class="my-2 py-1 font-weight-bold">Trusted By</h3>
        <div class="trusted_client d-flex justify-content-center">
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client3.png" alt="">
            </div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client2.png" alt="">
            </div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client1.png" alt="">
            </div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client5.png" alt="">
            </div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client4.png" alt="">
            </div>
        </div>
    </div>
</div>
<mat-toolbar class="d-flex justify-content-between px-2 text-small fixed-bottom">
    <span>© 2021 Site Worker. All Rights Reserved.</span>
    <div>
        <a (click)="onTermsOfUseClick()" class="text-dark cursor-pointer">Terms of Use</a> | <a (click)="onPrivacyPolicyClick()" class="text-dark cursor-pointer">Privacy Policy</a> | <a (click)="onCookiePolicyClick()" class="text-dark cursor-pointer">Cookies Policy</a>
    </div>
</mat-toolbar>