<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mt-3">
      <div class="card h-100">
        <div class="card-header text-center">
          <h5
            class="font-weight-bold mb-0 cursor-pointer"
            (click)="redirectFromDashboardCard('job')"
          >
            {{ "jobs" | translate }}
          </h5>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-xl-12">
              <div class="card_scroll">
                <div class="text-center">
                  <h6 class="font-weight-bold text-success">
                    {{ totalJob }}
                  </h6>
                </div>
                <div *ngIf="validateJobChart(); else none">
                  <canvas
                    baseChart
                    [data]="pieChartDataForJob"
                    [labels]="pieChartLabelsForJob"
                    [colors]="pieChartColorsForJob"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend"
                  >
                  </canvas>
                </div>
                <ng-template #none>
                  <div class="w-100">
                    <p class="mt-5 text-center">No Data Found</p>
                  </div>
                </ng-template>

                <div class="text-center">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        value="week"
                        [(ngModel)]="selectedType"
                        (change)="onSelectedTypeChange($event)"
                      />{{ "week" | translate }}
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        value="month"
                        [(ngModel)]="selectedType"
                        (change)="onSelectedTypeChange($event)"
                      />{{ "month" | translate }}
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        value="year"
                        [(ngModel)]="selectedType"
                        (change)="onSelectedTypeChange($event)"
                      />
                      {{ "year" | translate }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mt-3">
      <div class="card h-100">
        <div class="card-header text-center">
          <h5
            class="font-weight-bold mb-0 cursor-pointer"
            (click)="redirectFromDashboardCard('timesheet')"
          >
            {{ "timesheets" | translate }}
          </h5>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-xl-12">
              <div class="card_scroll">
                <div class="text-center">
                  <h6 class="font-weight-bold text-success">
                    {{ totalTimesheet }}
                  </h6>
                </div>
                <div *ngIf="validateTimeSheetChart(); else none">
                  <canvas
                    baseChart
                    [data]="pieChartDataForTimesheet"
                    [labels]="pieChartLabelsForTimesheet"
                    [colors]="pieChartColorsForTimesheet"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend"
                  >
                  </canvas>
                </div>
                <ng-template #none>
                  <div class="w-100">
                    <p class="mt-5 text-center">No Data Found</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mt-3">
      <div class="card h-100">
        <div class="card-header text-center">
          <h5
            class="font-weight-bold mb-0 cursor-pointer"
            (click)="redirectFromDashboardCard('invoices')"
          >
            {{ "invoices" | translate }}
          </h5>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-xl-12">
              <div class="card_scroll">
                <div
                  class="align-items-center d-flex flex-wrap justify-content-between mt-1 px-2"
                >
                  <h6>
                    Due:
                    <span class="text-success">{{
                      totalDueInvoice | currency
                    }}</span>
                  </h6>
                  <h6>
                    Paid:
                    <span class="text-success">{{
                      totalPaidInvoice | currency
                    }}</span>
                  </h6>
                </div>
                <div *ngIf="validateInvoiceChart(); else none">
                  <canvas
                    baseChart
                    [data]="pieChartDataForInvoice"
                    [labels]="pieChartLabelsForInvoice"
                    [colors]="pieChartColorsForInvoice"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend"
                  >
                  </canvas>
                </div>
                <ng-template #none>
                  <div class="w-100">
                    <p class="mt-5 text-center">No Data Found</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 mt-3 Worker_Dash_ToDo">
      <div class="card h-100">
        <div class="card-header text-center">
          <h5 class="font-weight-bold mb-0">{{ "to.do" | translate }}</h5>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-xl-12">
              <div class="card_scroll">
                <p-accordion>
                  <p-accordionTab>
                    <ng-template pTemplate="header"
                      >{{ "pending.invitations" | translate }}
                    </ng-template>
                    <ng-template pTemplate="content">
                      <div *ngIf="pendingInvitation.length !== 0; else none">
                        <div *ngFor="let invitation of pendingInvitation">
                          <a
                            style="cursor: pointer"
                            (click)="
                              reditectToBidAndApply(invitation.jobDetail)
                            "
                          >
                            <p-avatar shape="circle">
                              {{
                                returnFirstCharacterFromString(
                                  invitation.jobDetail.user.firstName
                                )
                              }}
                            </p-avatar>
                            <span class="ml-1 font-sm">{{
                              invitation.jobDetail.user.email
                            }}</span>
                            <br />
                            {{ "job.label" | translate }} :
                            {{ invitation.jobDetail.title }}
                            <hr />
                          </a>
                        </div>
                      </div>
                      <ng-template #none>
                        <div class="w-100">
                          <p class="mt-3 text-center">No Data Found</p>
                        </div>
                      </ng-template>
                    </ng-template>
                  </p-accordionTab>
                </p-accordion>
                <p-accordion>
                  <p-accordionTab>
                    <ng-template pTemplate="header">{{
                      "favorite.jobs" | translate
                    }}</ng-template>
                    <ng-template pTemplate="content">
                      <div *ngIf="favoriteJob.length !== 0; else none">
                        <div *ngFor="let job of favoriteJob">
                          <a
                            style="cursor: pointer"
                            routerLink=""
                            (click)="reditectToBidAndApply(job.jobDetail)"
                          >
                            {{ job.jobDetail.title }}
                          </a>
                          <hr />
                        </div>
                      </div>
                      <ng-template #none>
                        <div class="w-100">
                          <p class="mt-3 text-center">No Data Found</p>
                        </div>
                      </ng-template>
                    </ng-template>
                  </p-accordionTab>
                </p-accordion>
                <p-accordion>
                  <p-accordionTab>
                    <ng-template pTemplate="header"
                      >{{ "pending.timesheet" | translate }}
                    </ng-template>
                    <ng-template pTemplate="content">
                      <div *ngIf="pendingTimesheet.length !== 0; else none">
                        <div *ngFor="let timesheet of pendingTimesheet">
                          {{ timesheet.jobName }} ({{
                            timesheet.weekStartDate | date: "shortDate"
                          }}
                          - {{ timesheet.weekEndDate | date: "shortDate" }})
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #none>
                      <div class="w-100">
                        <p class="mt-3 text-center">No Data Found</p>
                      </div>
                    </ng-template>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-xl-9">
      <div class="row">
        <div class="col-xl-6 mt-3">
          <div class="card h-100">
            <div class="card-header text-center">
              <h5 class="font-weight-bold mb-0">
                {{ "ongoing.jobs" | translate }}
              </h5>
            </div>
            <div class="card-body p-1">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card_scroll">
                    <div class="d-flex py-5 justify-content-center">
                      <div class="mr-2">
                        <img src="assets/images/worker_Dash_ongoing.svg" />
                      </div>
                      <div class="d-flex align-items-center">
                        <h4 class="font-weight-bold ml-2 mt-3">
                          {{ onGoingJobs }}
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mt-3">
          <div class="card h-100">
            <div class="card-header text-center">
              <h5 class="font-weight-bold mb-0">
                {{ "job.success.ratio" | translate }}
              </h5>
            </div>
            <div class="card-body p-1">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card_scroll">
                    <div class="d-flex py-5 justify-content-center">
                      <div class="mr-2">
                        <img
                          src="assets/images/worker_Dash_Success_ratio.svg"
                        />
                      </div>
                      <div class="d-flex align-items-center">
                        <h4 class="font-weight-bold ml-2 mt-3">
                          {{ jobSuccessRatio
                          }}<span *ngIf="jobSuccessRatio !== 'New Worker'"
                            >%</span
                          >
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 mt-3">
      <div class="card h-100">
        <div class="card-header text-center">
          <h5 class="font-weight-bold mb-0">
            {{ "certificates.requiring.attention" | translate }}
          </h5>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-xl-12">
              <div class="card_scroll">
                <div *ngIf="requiredCertificates.length !== 0; else none">
                  <div
                    class="Worker_Dash_Certi d-flex justify-content-between"
                    *ngFor="let certificates of requiredCertificates"
                  >
                    <h6 class="font-weight-bold mt-1 ml-2">
                      {{ certificates.certificate.name }}
                    </h6>

                    <p-tag
                      *ngIf="
                        getGapBetweenTwoDates(
                          certificates.expiryDate,
                          todayDate
                        ) > 0 &&
                        getGapBetweenTwoDates(
                          certificates.expiryDate,
                          todayDate
                        ) < 30
                      "
                      styleClass="p-mr-2"
                      severity="success"
                      value="Due"
                      [rounded]="true"
                    ></p-tag>

                    <p-tag
                      *ngIf="
                        getGapBetweenTwoDates(
                          certificates.expiryDate,
                          todayDate
                        ) < 0 ||
                        getGapBetweenTwoDates(
                          certificates.expiryDate,
                          todayDate
                        ) === 0
                      "
                      severity="danger"
                      value="Expired"
                      [rounded]="true"
                    ></p-tag>

                    <p
                      *ngIf="
                        getGapBetweenTwoDates(
                          certificates.expiryDate,
                          todayDate
                        ) > 30
                      "
                    >
                      Certificates are up to date
                    </p>
                  </div>
                </div>
                <ng-template #none>
                  <div class="w-100">
                    <p class="mt-3 text-center">No Data Found</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 mt-3">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h5 class="font-weight-bold">{{ "locations" | translate }}</h5>

          <div class="Worker_loca">
            {{ "state" | translate }} :
            <p-dropdown
              [options]="state"
              (onChange)="onStateSelect($event)"
              [(ngModel)]="selectedState"
              optionLabel="name"
            ></p-dropdown>
          </div>
        </div>

        <div class="d-block location">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker
              *ngFor="let job of acceptedJobs; let i = index"
              [latitude]="job.jobBidDetail.jobDetail.latitude"
              [longitude]="job.jobBidDetail.jobDetail.longitude"
              [iconUrl]="{
                url: 'assets/images/map-marker/worker_accepted.svg'
              }"
            ></agm-marker>
            <agm-marker
              *ngFor="let job of completedJobs; let i = index"
              [latitude]="job.jobBidDetail.jobDetail.latitude"
              [longitude]="job.jobBidDetail.jobDetail.longitude"
              [iconUrl]="{
                url: 'assets/images/map-marker/worker_completed.svg'
              }"
            ></agm-marker>
          </agm-map>

          <div class="w-100 d-flex justify-content-center align-items-center">
            <p class="mb-0 text-danger px-3 pt-3">
              <i class="fa fa-square" aria-hidden="true"></i>
              In Progress
            </p>
            <p class="mb-0 px-3 pt-3 text-success">
              <i class="fa fa-square" aria-hidden="true"></i>
              Completed
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
