<p>worker-profile works!</p>


<div class="container-fluid card mb-3">

    <h2 class="">Profile </h2>
    <h5>membership</h5>
    <div class=" mx-auto mt-1 bg">
        <div class="card-body ">

            <div class="row">

                <div class="col-md-12 col-lg-12 card roundable">
                    <div class="row p-3">
                        <div class="col-md-2 col-lg-2 ">
                            <div class=" roundable rating-card">
                                <h1 class="card-title">
                                    <img src="" alt="Logo" srcset="">
                                </h1>
                                <p class="card-text"></p>
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-8 ">
                            <div class=" rating-card">
                                <h1 class="card-title"> Details</h1>
                                <p class="card-text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga cum perspiciatis vel consequuntur cupiditate, natus repellat. Quam labore deserunt offic
                                </p>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="col-md-2 col-lg-2 ">
                            <div class=" roundable rating-card">
                                <h1 class="card-title text-center">
                                    <i class="fa fa-star star" aria-hidden="true"></i> 3.5
                                </h1>
                                <p class="card-text text-center">Avarage rating</p>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row text-center tiles">
                    <div class="col-md-2 col-lg-2 ">
                        <div class=" company-tile rating-card">
                            <h1 class="card-title">
                                <!-- <i class="fas fa-globe"></i> -->
                                <span class="material-icons">
                                    language
                                </span>
                            </h1>
                            <p class="card-text">Web Site</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 ">
                        <div class=" company-tile rating-card">
                            <h1 class="card-title">
                                <!-- <i class="pi pi-users"></i> -->
                                <span class="material-icons">
                                    contact_phone
                                </span>
                            </h1>
                            <p class="card-text">Company Size</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 ">
                        <div class=" company-tile rating-card">
                            <h1 class="card-title">
                                <!-- <i class="far fa-address-book"></i> -->
                                <span class="material-icons">
                                    groups
                                </span>
                            </h1>
                            <p class="card-text">Contact Number</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 ">
                        <div class=" company-tile rating-card">
                            <h1 class="card-title">
                                <!-- <i class="far fa-address-book"></i> -->
                                <span class="material-icons">
                                    smartphone
                                </span>
                            </h1>
                            <p class="card-text">Mobile Number</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 ">
                        <div class=" company-tile rating-card">
                            <h1 class="card-title">
                                <!-- <i class="pi pi-envelope"></i> -->
                                <span class="material-icons">
                                    mail_outline
                                </span>
                            </h1>
                            <p class="card-text">Email</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-2 col-lg-2 ">
                        <div class=" company-tile rating-card">
                            <h1 class="card-title">
                                <i class="pi pi-envelope"></i>
                            </h1>
                            <p class="card-text"></p>
                        </div>
                    </div> -->
                </div>

                <div class="col-md-12 col-lg-12 ">
                    <div class="row">


                        <div class="col-md-6 tile2">
                            <div>
                                <h2 class="d-inline card-list-header"> Projects</h2>
                                <small class=" d-inline bg-primary  p-1 rounded card-list-subheader" badges="3"> Latest
                                    3
                                </small>
                                <a href="" class="d-inline float-right">view all</a>
                                <div class="block p-3">

                                    <div class="card project-card">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>
                                    <div class="card project-card ">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>
                                    <div class="card project-card ">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>
                                    <div class="card project-card ">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="col-md-6 tile2">
                            <div>
                                <h2 class="d-inline card-list-header"> Jobs</h2>
                                <small class=" d-inline bg-primary p-1 rounded card-list-subheader"> by site wroker
                                </small>

                                <a href="" class="d-inline float-right">view all</a>
                                <div class="block p-3">

                                    <div class="card project-card">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>
                                    <div class="card project-card ">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>
                                    <div class="card project-card ">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>
                                    <div class="card project-card ">
                                        <h3 class="card-title">
                                            T mobile Truf
                                        </h3>

                                        <h6 class="card-text text-muted"> Ongoing From july </h6>
                                        <p class="card-text"> mapp details </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 ">
                    <div class="row">


                        <div class="col-md-6 tile2">
                            <div>
                                <h2 class="d-inline "> Ratings and review</h2>
                                <a href="" class="d-inline float-right">view all</a>

                                <div class="block p-3">

                                    <div class="card project-card">
                                        <div class="row">
                                            <div class="col-xl-8">
                                                <h3 class="card-title">John Carter </h3>
                                                <h6 class="card-text text-muted"> T-mobile|Marlos Fist Rd. </h6>
                                            </div>
                                            <div class="col-xl-4">
                                                <i class="fa fa-star " aria-hidden="true"></i> 3.5
                                            </div>
                                        </div>
                                        <p class="card-text"> Lorem ipsum dolor iusto, sed ea iure quibusdam accusamus.
                                        </p>
                                    </div>
                                    <div class="card project-card ">
                                        <div class="row">
                                            <div class="col-xl-8">
                                                <h3 class="card-title">John Carter </h3>
                                                <h6 class="card-text text-muted"> T-mobile|Marlos Fist Rd. </h6>
                                            </div>
                                            <div class="col-xl-4">
                                                <i class="fa fa-star " aria-hidden="true"></i> 3.5
                                            </div>
                                        </div>
                                        <p class="card-text"> Lorem ipsum dolor iusto, sed ea iure quibusdam accusamus.
                                        </p>

                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="col-md-6 tile2">
                            <div>
                                <h2 class="d-inline "> Location</h2>
                                <div class="block p-3">


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a> -->
            </div>
        </div>

    </div>