<app-signup-login-header></app-signup-login-header>
<!-- <ngx-spinner></ngx-spinner> -->
<div class="container-fluid">
    <div class="container login_min_h d-flex align-items-center">
        <div class="row forgot_pass_page">
            <div class="col-md-6 col-lg-7 order-2 order-md-1 text-center">

                <div class="d-flex justify-content-center">
                    <div class="p-4 bg-warning rounded-circle">
                        <img width="70" src="assets/images/icn_login_01.svg" alt="">
                    </div>
                </div>

                <h3 class="my-3 py-1 font-weight-bold">Any Questions? We're happy to help.</h3>
                <p class="login_des_p"> Reach out to Site Worker’s friendly and knowledge team at any time with questions, concerns, or technical issues.</p>
                <div class="alert alert-warning mt-4 py-3 border-0 login_alert_box">
                    <h4 class="text-dark">Contact Us</h4>

                    <div class="d-flex flex-wrap justify-content-around">
                        <a class="text-dark mt-2" href="mailto:support@siteworker.com"><img src="assets/images/icn_email.svg" width="20" alt="" class="mr-3">support@siteworker.com</a>
                        <a class="text-dark mt-2" href="#"><img src="assets/images/icn_phone.svg" width="20" alt="" class="mr-3">(888) 418 2530</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 order-1 order-md-2">
                <div class="login-register">
                    <div class="login-box card">
                        <h5 class="card-header text-center bg-warning font-weight-bold p-4">
                            Forgot Password
                        </h5>
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="myForm" id="myForm">


                                <div class="form-group ">

                                    <label>{{ "email" | translate }}</label>
                                    <input class="form-control" id="email" formControlName="email" type="email" maxlength="255" #email />

                                    <div class="p-invalid" *ngIf="(submitted && !myForm.get('email').valid) || (!myForm.get('email').valid && myForm.get('email').touched) ">

                                        <div *ngIf=" ( myForm.get('email').errors.required) ">
                                            {{'required' | translate}} </div>

                                        <div *ngIf=" myForm.get('email').errors.maxlength">
                                            {{'fifty.maxlength' | translate}} </div>
                                        <div class="p-invalid" *ngIf=" (!myForm.get('email').valid) ">

                                            <div *ngIf="myForm.get('email').dirty &&
                                                (myForm.get('email').errors.incorrectEmailFormat &&
                                                !myForm.get('email').errors.required)">
                                                {{'invalid.email' | translate}} </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-20">

                                    <button (click)="onSubmit()" type="submit" class="btn btn-warning" id="login_submit">
                                        {{ 'reset.password' | translate }}
                                    </button>

                                </div>

                                <div class="form-group text-center">
                                    <a class="text-dark" href="#">{{ 'signin' | translate}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey">
    <div class="container py-2 text-center">
        <h3 class="my-2 py-1 font-weight-bold">Trusted By</h3>
        <div class="trusted_client d-flex justify-content-center">
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client1.png" alt=""></div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client2.png" alt=""></div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client3.png" alt=""></div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client4.png" alt=""></div>
            <div class="p-2 mx-2"><img class="img-fluid" src="assets/images/signup/trusted_client5.png" alt=""></div>
        </div>
    </div>
</div>
<mat-toolbar class="d-flex justify-content-between px-2 text-small">
    <span>© 2021 Site Worker. All Rights Reserved.</span>
    <div>
        <a (click)="onTermsOfUseClick()" class="text-dark cursor-pointer">Terms of Use</a> | <a (click)="onPrivacyPolicyClick()" class="text-dark cursor-pointer">Privacy Policy</a> | <a (click)="onCookiePolicyClick()" class="text-dark cursor-pointer">Cookies Policy</a>
    </div>
</mat-toolbar>