h4 {
    padding: 0px;
    margin: 0px;
}

ngx-dropzone {
    height: 50px;
    /* width: 400px; */
}

.d-flex{
    display: flex;
}
.gap-10{
    gap: 10px;
}
.inline-redio{
    display: flex;
    align-items: center;
    gap: 5px;
}