<div class="container-fluid" *ngIf="selectedProject">
    <div class="row">
        <div class="col-xl-12 p-2 bg-admin text-white">
            <h4 class="font-weight-bold float-left">
                Query List / {{ selectedProject.title}}
            </h4>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="datatable-card">
                <p-table [value]="data" [columns]="columns" [lazy]="true" [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [resizableColumns]="true" (onLazyLoad)="onLazyLoad($event)" [rowsPerPageOptions]="rowsPerPageOptions" styleClass="p-datatable-gridlines"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="250px">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width: 180px;">
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [hidden]="col.isHidden" pResizableColumn>
                                {{col.label}}
                                <p-sortIcon field="{{col.value}}"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-data let-columns="columns">
                        <ng-container>
                            <tr>
                                <td>
                                    {{data.user.firstName}} {{ data.user.lastName }}
                                </td>
                                <td *ngIf="!isSelectedJobsite">
                                    {{data.jobSite.title}}
                                </td>
                                <td>
                                    {{data.createdDate | date: shortDate}}
                                </td>
                                <td>
                                    <span class="text-wrap">
                                        {{data.question}}
                                    </span>
                                </td>
                                <td>
                                    <span class="text-wrap">
                                        {{data.answer}}
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="5" class="text-center">
                                {{'no.record.found' | translate}}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
                <br>



            </div>
        </div>
    </div>
</div>