.show {
    overflow: visible;
    height: auto;
}

.container {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}

agm-map {
    height: 250px;
    width: 100%;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}