<app-signup-login-header></app-signup-login-header>
<div class="container-fluid">
    <div class="container min-h-70">
        <div class="row">
            <div class="col-md-5 col-lg-6 order-2 order-md-1 mt-4 text-center">
                <div class="d-flex justify-content-center">
                    <div class="p-3 bg-warning rounded-circle mr-2">
                        <img width="50" src="assets/images/icn_login_01.svg" alt="">
                    </div>
                </div>
                <h2 class="mt-3">Any Questions? We're happy to help.</h2>
                <p>Reach out to Site Worker’s friendly and knowledge team at any time with questions, concerns, or technical issues.</p>
                <div class="alert alert-warning mt-4 border-0">
                    <h4 class="text-dark">Contact Us</h4>
                    <div class="d-flex justify-content-around">
                        <a class="text-dark" href="mailto:support@siteworker.com"><img src="assets/images/icn_email.svg" width="20" alt="">support@siteworker.com</a>
                        <a class="text-dark" href="#"><img src="assets/images/icn_phone.svg" width="20" alt="">(888) 418 2530</a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-lg-6 order-1 order-md-2 mt-4">
                <div class="login-register">
                    <div class="login-box card">
                        <div class="card-header text-center bg-warning">
                            {{'reset.password' | translate}}
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                                <label for="password">{{ 'password' | translate}}*</label>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input type="password" class="form-control" placeholder="{{'enter.password' | translate}}" (focus)="onFocus()" (focusout)="onFocusOut()" formControlName="password" id="password">
                                    </div>
                                    <div class="p-invalid" *ngIf="resetPasswordForm.controls['password'].touched && (resetPasswordForm.controls['password'].hasError('required') && !resetPasswordForm.controls['password'].valid)
                                    || (submitted && (resetPasswordForm.controls['password'].hasError('required') && !resetPasswordForm.controls['password'].valid))">
                                        {{'required'|translate}}</div>
                                    <div class="p-invalid" *ngIf="resetPasswordForm.controls['password'].touched && (resetPasswordForm.controls['password'].hasError('pattern') && !resetPasswordForm.controls['password'].valid)">
                                        {{'invalid.password'|translate}}</div>
                                    <div *ngIf="passwordSuggestion">
                                        <small>
                                           {{'password.formate' |translate}}
                                        </small>
                                    </div>
                                </div>
                                <label for="password">{{ 'confirm.password' | translate}}*</label>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input type="password" class="form-control" placeholder="{{'reenter.password' | translate}}" formControlName="confirmPassword" id="confirm">
                                    </div>
                                    <div class="p-invalid" *ngIf="resetPasswordForm.controls['confirmPassword'].touched && (resetPasswordForm.controls['confirmPassword'].hasError('required') && !resetPasswordForm.controls['confirmPassword'].valid)
                                    || (submitted && (resetPasswordForm.controls['confirmPassword'].hasError('required') && !resetPasswordForm.controls['confirmPassword'].valid))">
                                        {{'required'|translate}}</div>
                                    <div class="p-invalid" *ngIf="resetPasswordForm.controls['confirmPassword'].touched && (resetPasswordForm.controls['confirmPassword'].hasError('pattern') && !resetPasswordForm.controls['confirmPassword'].valid)">
                                        {{'invalid.password'|translate}}</div>
                                    <div class="p-invalid" *ngIf="resetPasswordForm.controls['confirmPassword'].touched && (resetPasswordForm.controls['confirmPassword'].hasError('mustMatch') && !resetPasswordForm.controls['confirmPassword'].valid)">
                                        {{'is.not.password.matched'|translate}}</div>
                                </div>
                                <div class="form-group text-center m-t-20">
                                    <button type="button" (click)="onResetPassword()" class="btn btn-warning" id="reset_password_submit">
                                    {{ 'reset.password' | translate}}
                                    </button>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <a href="#">{{'signin'| translate}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-grey mt-5">
            <div class="container py-2 text-center">
                <h3 class="mb-1">Trusted By</h3>
                <div class="trusted_client d-flex justify-content-center">
                    <div class="p-2"><img class="img-fluid" src="assets/images/signup/trusted_client1.png" alt=""></div>
                    <div class="p-2"><img class="img-fluid" src="assets/images/signup/trusted_client2.png" alt=""></div>
                    <div class="p-2"><img class="img-fluid" src="assets/images/signup/trusted_client3.png" alt=""></div>
                    <div class="p-2"><img class="img-fluid" src="assets/images/signup/trusted_client4.png" alt=""></div>
                    <div class="p-2"><img class="img-fluid" src="assets/images/signup/trusted_client5.png" alt=""></div>
                </div>
            </div>
        </div>
        <mat-toolbar class="d-flex justify-content-between px-2 text-small">
            <span>© 2021 Site Worker. All Rights Reserved.</span>
            <div>
                <a (click)="onTermsOfUseClick()" class="text-dark cursor-pointer">Terms of Use</a> | <a (click)="onPrivacyPolicyClick()" class="text-dark cursor-pointer">Privacy Policy</a> | <a (click)="onCookiePolicyClick()" class="text-dark cursor-pointer">Cookies Policy</a>
            </div>
        </mat-toolbar>
    </div>
</div>