<p-tabView styleClass="tabview-custom p-3" (onChange)="handleChange($event)">

    <!-- review received -->
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Review Received</span>
        </ng-template>

        <ng-container>
            <ng-container *ngFor="let entity of jobRatingAndReviewList">
                <p-card class="card mb-3">
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <h4 class="card-title text-primary font-weight-bold">{{entity.jobDetail.title}}</h4>
                            <span class="text-muted">{{entity.submittedBy.firstName}} {{entity.submittedBy.lastName}}</span>
                            <p class="card-text mt-3 text-dark">
                                {{entity.ratingText}}
                            </p>
                        </div>
                        <div class="col-md-3 text-center border-right">
                            <div class="text-warning h1 text-nowrap">
                                <i class="fa fa-star star" aria-hidden="true"></i> {{entity.rating}}
                            </div>
                            Quality Rating
                            <p>{{entity.createdDate | date: shortDate}}</p>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="text-warning h1 text-nowrap">
                                <i class="fa fa-star star" aria-hidden="true"></i> {{entity.safetyRating}}
                            </div>
                            
                            Safety Rating
                        </div>
                        <div class="row button-reported-admin">
                            <button *ngIf="!entity.isReportToAdmin && !entity.isRejectedByAdmin" pButton label="Report to Admin" class="p-button-success p-button-outlined" (click)="reportToAdmin(entity.id)"></button>
                            <button *ngIf="entity.isReportToAdmin" pButton label="Reported to Admin" class="p-button-danger p-button-outlined" disabled></button>
                            <button *ngIf="entity.isRejectedByAdmin" pButton label="Concern Rejected" class="p-button-danger p-button-outlined" disabled></button>
                        </div>
                    </div>
                    
                </p-card>
            </ng-container>
            <div *ngIf="!jobRatingAndReviewList?.length">
                <h5 class="text-muted text-center mt-3">{{'no.record.found' | translate}}</h5>
            </div>
        </ng-container>

        <div class="float-right" *ngIf="jobRatingAndReviewList?.length">
            <p-paginator [showCurrentPageReport]="true" [rows]="size" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginate($event)"></p-paginator>
        </div>

    </p-tabPanel>

    <!-- review submitted -->
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Review Submitted</span>
        </ng-template>

        <ng-container>
            <ng-container *ngFor="let entity of jobRatingAndReviewList">
                <p-card class="card mb-3">

                    <div class="d-flex justify-content-between">
                        <div class="pr-3">
                            <h4 class="text-primary">{{entity.jobDetail.title}}</h4>
                            <p class="text-muted">{{entity.submittedTo.firstName}} {{entity.submittedTo.lastName}}</p>
                            <p>{{entity.ratingText}}</p>
                        </div>
                        <div class="text-center border-left pl-5">
                            <div class="text-warning h2 text-nowrap">
                                <i class="fa fa-star star" aria-hidden="true"></i> {{entity.rating}}
                            </div>
                            <p>{{entity.createdDate | date:shortDate}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-12">
                            <span class="text-muted" (click)="editJobReview(entity)" *ngIf="calculateDiffInDays(entity.createdDate)"><i class="pi pi-pencil"></i> Edit Review </span>
                        </div>
                    </div>
                </p-card>
            </ng-container>
            <div *ngIf="!jobRatingAndReviewList?.length">
                <h5 class="text-muted text-center mt-3">{{'no.record.found' | translate}}</h5>
            </div>
        </ng-container>
        <div class="float-right" *ngIf="jobRatingAndReviewList?.length">
            <p-paginator currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="paginateSubmitted($event)"></p-paginator>
        </div>

    </p-tabPanel>

    <!-- submit review -->
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Submit Review</span>

        </ng-template>



        <ng-container>
            <form [formGroup]="myForm">
                <p-table styleClass="p-datatable-gridlines" [scrollable]="true" [columns]="jobColumns" scrollHeight="400px" [resizableColumns]="true" #dt [value]="myForm.get('publicReview')['controls']" [paginator]="true" [rows]="size" [totalRecords]="totalRecordsForSubmit"
                    [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn id="column_{{col.value}}" *ngFor="let col of jobColumns">
                                {{col.label}}
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-entity let-rowIndex="rowIndex">
                        <ng-container formArrayName="publicReview">
                            <tr [formGroupName]="rowIndex">
                                <td>{{entity.get('title').value}}</td>
                                <td>{{entity.get('firstName').value}} {{entity.get('lastName').value}}</td>
                                <td>
                                    <p-rating formControlName="rating" [cancel]="false"></p-rating>
                                </td>
                                <td>
                                    <textarea formControlName="review" class="form-control" maxlength="400" type="text" placeholder="Enter Review" pInputText id="answer "></textarea>
                                    <!-- <div class="p-invalid" *ngIf="(submitted && !myForm.get('review').valid) || (!myForm.get('review').valid && myForm.get('review').touched)">
                                        <div *ngIf="(myForm.get('review').errors.required)">
                                            {{'required' | translate}} </div>
                                    </div> -->

                                </td>
                            </tr>
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="4" class="text-center">
                                {{'no.review.to.be.submitted' | translate}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </form>
        </ng-container>

        <div class="col-xl-12 text-right">
            <button pButton type="button" class="p-button-success" label="Submit" (click)="onSubmit()"></button>
        </div>


    </p-tabPanel>

</p-tabView>
<p-dialog [(visible)]="editReviewDialog" [style]="{width: '450px'}" header="Edit Review" [modal]="true" styleClass="p-fluid" (onHide)="hideDialog()">


    <ng-template pTemplate="content">
        <form [formGroup]="editReviewForm" (ngSubmit)="onSubmitEditReview()">
            <div class="p-field">
                <label>Rating </label>
                <p-rating formControlName="rating" [cancel]="false" styleclass="text-primary" required></p-rating>
                <label for="review">Review</label>
                <input type="text" pInputText id="name" formControlName="ratingText" required />
                <div class="p-invalid" *ngIf="(submittedEdit && !editReviewForm.controls['ratingText'].valid) || (!editReviewForm.controls['ratingText'].valid && editReviewForm.controls['ratingText'].touched)">
                    <div *ngIf="(editReviewForm.controls['ratingText'].errors.required)">
                        {{'required' | translate}} </div>
                </div>
                <!-- <small class="p-invalid" *ngIf="editReviewForm.controls['ratingText'].touched && (editReviewForm.controls['ratingText'].hasError('required') && !editReviewForm.controls['ratingText'].valid)">
                    Review is required.</small> -->
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{'save' | translate}}" icon="pi pi-check" class="p-button-text" (click)="onSubmitEditReview()"></button>
    </ng-template>

</p-dialog>